[Desktop Entry]
Name=Lines

X-KDE-PluginInfo-Name=Lines
X-KDE-PluginInfo-Author=Juliette Taka Belin
X-KDE-PluginInfo-Email=juliette.belin@free.fr
X-KDE-PluginInfo-License=GPL-2
