[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Action Buttons
Name[am]=የተግባር አዝራር
Name[ar]=زر العمل
Name[ast]=Botones d'aición
Name[be]=Кнопкі дзеяньняў
Name[bg]=Бутони за действие
Name[bn]=কাজের বোতাম
Name[ca]=Botons d'accions
Name[cs]=Tlačítka akcí
Name[da]=Hændelsesknapper
Name[de]=Aktionsknöpfe
Name[el]=Κουμπιά ενεργειών 
Name[en_AU]=Action Buttons
Name[en_GB]=Action Buttons
Name[eo]=Agaj Butonoj
Name[es]=Botones de acción
Name[et]=Toimingute nupud
Name[eu]=Ekintza botoiak
Name[fi]=Toimintopainikkeet
Name[fr]=Boutons d’action
Name[gl]=Botóns de acción
Name[he]=לחצני פעולה
Name[hr]=Ikone radnje
Name[hu]=Műveletgombok
Name[id]=Tombol Aksi
Name[is]=Aðgerðahnappar
Name[it]=Pulsante delle azioni
Name[ja]=アクションボタン
Name[kk]=Әрекеттер батырмалары
Name[ko]=동작 단추
Name[lt]=Veiksmų mygtukai
Name[lv]=Darbību pogas
Name[ms]=Butang Tindakan
Name[nb]=Handlingknapper
Name[nl]=Actieknoppen
Name[nn]=Handlingsknappar
Name[oc]=Botons d'accion
Name[pa]=ਐਕਸ਼ਨ ਬਟਨ
Name[pl]=Przyciski sesji
Name[pt]=Botões de ação
Name[pt_BR]=Botões de ação
Name[ro]=Butoane cu acțiuni
Name[ru]=Системные действия
Name[si]=ක්‍රියා බොත්තම්
Name[sk]=Tlačidlá akcií
Name[sl]=Gumbi dejanj
Name[sq]=Butona Veprimesh
Name[sr]=Дугмад радњи
Name[sv]=Åtgärdsknappar
Name[te]=చర్య బొత్తాలు
Name[th]=ปุ่มเลือกการกระทำ
Name[tr]=Hareket Düğmeleri
Name[ug]=مەشغۇلات توپچىلىرى
Name[uk]=Кнопки дій
Name[ur]=حرکات بٹن
Name[ur_PK]=حرکات بٹن
Name[vi]=Nút thao tác
Name[zh_CN]=动作按钮
Name[zh_HK]=動作按鈕
Name[zh_TW]=動作按鈕
Comment=Log out, lock or other system actions
Comment[ar]=تسجيل الخروج، تأمين أو إجراءات نظام أخرى
Comment[ast]=Zarrar sesión, bloquiar u otres aiciones del sistema
Comment[bg]=Изход, заключване и други системни действия
Comment[bn]=লগআউট, আবদ্ধ বা অন্যান্য সিস্টেম সম্পর্কিত কাজ
Comment[ca]=Surt, bloca o altres accions del sistema
Comment[cs]=Odhlášení, uzamknutí a další systémové akce
Comment[da]=Log ud, lås skærmen eller andre systemhandlinger
Comment[de]=Abmelden, sperren oder andere Systemaktionen
Comment[el]=Αποσύνδεση, κλείδωμα οθόνης και άλλες ενέργειες συστήματος
Comment[en_AU]=Log out, lock or other system actions
Comment[en_GB]=Log out, lock or other system actions
Comment[es]=Cerrar sesión, bloquear u otras acciones del sistema
Comment[et]=Logi välja, lukusta või muud süsteemi tegevused
Comment[eu]=Saioa itxi, blokeatu beta beste zenbait sistema ekintza
Comment[fi]=Uloskirjautuminen, lukitseminen tai muut järjestelmätoiminnot
Comment[fr]=Déconnexion, verrouillage ou autres actions du système
Comment[gl]=Pechar a sesión ou bloquear a pantalla ou outras accións do sistema
Comment[he]=יציאה, נעילה או פעולות מערכת אחרות
Comment[hr]=Odjava, zakjlučavanje ili druge radnje sustava
Comment[hu]=Kijelentkezés, zárolás vagy más rendszerműveletek
Comment[id]=Log keluar, kunci layar, atau aksi sistem lainnya
Comment[is]=Skrá út, læsa eða aðrar kerfisaðgerðir
Comment[it]=Disconnette l'utente, blocca lo schermo o esegue altre azioni di sistema
Comment[ja]=ログアウト、画面のロック、その他のシステムアクションを行います。
Comment[kk]=Шығу, экранды бұғаттау не басқа жүйелік әрекеттер
Comment[ko]=로그아웃, 잠금 또는 다른 시스템 동작을 수행합니다
Comment[lt]=Atsijungti, užrakinti arba kiti sistemos veiksmai
Comment[ms]=Daftar keluar, kunci atau tindakan sistem lain
Comment[nb]=Logg ut, lås eller andre systemvalg
Comment[nl]=Afmelden, vergrendelen of andere systeemacties
Comment[nn]=Logg ut, lås eller andre systemhandlingar
Comment[oc]=Desconnexion, varrolhatge o autras accions sistèma
Comment[pa]=ਲਾਗ ਆਉਟ, ਲਾਕ ਜਾਂ ਹੋਰ ਸਿਸਟਮ ਐਕਸ਼ਨ
Comment[pl]=Wykonuje typowe czynności zarządzania sesją
Comment[pt]=Sair da sessão, bloquear e outras ações de sistema
Comment[pt_BR]=Sair, bloquear a tela ou outras ações do sistema
Comment[ro]=Ieșire, blocare a ecranului sau alte acțiuni de sistem
Comment[ru]=Завершение сеанса, блокировка экрана или другие системные действия
Comment[si]=ඉවත් වෙන්න, අඟුලු දාන්න හෝ වෙනත් පද්ධති ක්‍රියා
Comment[sk]=Odhlásenie, uzamknutie alebo iné systémové akcie
Comment[sl]=Odjava, zaklep zaslona in ostala sistemska dejanja
Comment[sr]=Одјављивање, закључавање или друге системске радње
Comment[sv]=Logga ut, lås skärmen eller andra systemåtgärder
Comment[te]=నిష్క్రమించు, తాళంవేయి లేదా ఇతర వ్యవస్థ చర్యలు
Comment[th]=ออกจากระบบ, ล็อคหน้าจอ หรือการกระทำอื่นเกี่ยวกับระบบ
Comment[tr]=Çıkış, kilitleme veya diğer sistem seçenekleri
Comment[ug]=چىقىش، قۇلۇپلاش ياكى سىستېما مەشغۇلاتلىرى
Comment[uk]=Завершення сеансу, блокування чи інші системні дії
Comment[vi]=Đăng xuất, khóa và các thao tác hệ thống khác
Comment[zh_CN]=注销、锁屏或其它系统动作
Comment[zh_HK]=登出、鎖住螢幕或是其它系統動作
Comment[zh_TW]=登出、鎖住螢幕或是其它系統動作
Icon=system-log-out
X-XFCE-Module=actions
X-XFCE-Internal=FALSE
X-XFCE-API=1.0
