[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Applications Menu
Name[ar]=قائمة التطبيقات
Name[ast]=Menú d'aplicaciones
Name[bg]=Меню на програмите
Name[bn]=অ্যাপ্লিকেশন মেনু
Name[ca]=Menú d'aplicacions
Name[cs]=Nabídka aplikací
Name[da]=Programmenu
Name[de]=Anwendungsmenü
Name[el]=Μενού εφαρμογών
Name[en_AU]=Applications Menu
Name[en_GB]=Applications Menu
Name[es]=Menú de aplicaciones
Name[et]=Rakenduste menüü
Name[eu]=Aplikazioa menua
Name[fi]=Sovellusvalikko
Name[fr]=Menu des applications
Name[gl]=Menú de aplicativos
Name[he]=תפריט אפליקציות
Name[hr]=Izbornik programa
Name[hu]=Alkalmazások menü
Name[id]=Menu Aplikasi
Name[is]=Forritavalmynd
Name[it]=Menu delle applicazioni
Name[ja]=アプリケーションメニュー
Name[kk]=Қолданбалар мәзірі
Name[ko]=프로그램 메뉴
Name[lt]=Programų meniu
Name[ms]=Menu Aplikasi
Name[nb]=Applikasjonsmeny
Name[nl]=Toepassingenmenu
Name[nn]=Program
Name[oc]=Menú de las aplicacions
Name[pa]=ਐਪਲੀਕੇਸ਼ਨ ਮੇਨੂ
Name[pl]=Programy
Name[pt]=Menu de aplicações
Name[pt_BR]=Menu de aplicativos
Name[ro]=Meniu cu programe
Name[ru]=Меню приложений
Name[si]=යෙදුම් මෙනුව
Name[sk]=Ponuka aplikácií
Name[sl]=Meni programov
Name[sr]=Изборник програма
Name[sv]=Programmeny
Name[te]=అనువర్తనాల మెను
Name[th]=เมนูโปรแกรม
Name[tr]=Uygulamalar Menüsü
Name[ug]=پروگرامما تىزىملىكى
Name[uk]=Меню програм
Name[vi]=Thực đơn ứng dụng
Name[zh_CN]=应用程序菜单
Name[zh_HK]=應用程式選單
Name[zh_TW]=應用程式選單
Comment=Show a menu containing categories of installed applications
Comment[ar]=عرض قائمة تحتوي على فئات من التطبيقات المثبتة
Comment[ast]=Amosar un menú que contenga les estayes en cuantes de les aplicaciones
Comment[bg]=Показване на меню, съдържащо инсталираните програми по категории
Comment[bn]=ইনস্টলকৃত অ্যাপ্লিকেশনসমূহের শ্রেণীবিভাগ ধারণকারী মেনু প্রদর্শন
Comment[ca]=Mostra un menú que conté les categories o les aplicacions instal·lades
Comment[cs]=Zobrazit nabídku obsahující kategorie nainstalovaných aplikací
Comment[da]=Vis en menu indeholdende kategorier over installerede programmer
Comment[de]=Menü mit Kategorien der installierten Anwendungen anzeigen
Comment[el]=Εμφάνιση μενού με τις κατηγορίες των εγκατεστημένων εφαρμογών
Comment[en_AU]=Show a menu containing categories of installed applications
Comment[en_GB]=Show a menu containing categories of installed applications
Comment[es]=Mostrar un menú que contenga las categorías de las aplicaciones instaladas
Comment[et]=Näita menüüd, mis sisaldab paigaldatud rakenduste kategooriaid.
Comment[eu]=Ikusi instalatutako aplikazio kategoriak dituen menua
Comment[fi]=Näytä asennettujen sovellusten luokat sisältävä valikko
Comment[fr]=Afficher un menu contenant les catégories des applications installées
Comment[gl]=Mostra un menú que contén as categorías dos aplicativos instalados
Comment[he]=הצג תפריט המכיל קטגוריות של יישומים מותקנים
Comment[hr]=Pokaži izbornik koji sadrži kategorije instaliranih programa
Comment[hu]=A telepített alkalmazásokat kategorizálva tartalmazó menü megjelenítése
Comment[id]=Tampilkan menu yang berisi kategori aplikasi terinstal
Comment[is]=Birta valmynd með flokkum uppsettra forrita
Comment[it]=Mostra un menu contenente le categorie delle applicazioni installate
Comment[ja]=インストールされているアプリケーションのカテゴリに含まれるメニューを表示します。
Comment[kk]=Құрамында орнатылған қолданбалар санаттары бар мәзірді көрсету
Comment[ko]=설치한 프로그램의 분류를 포함하고 있는 메뉴 표시
Comment[lt]=Rodyti meniu su įdiegtų programų kategorijomis
Comment[ms]=Papar menu yang mengandungi kategori aplikasi yang dipasang
Comment[nb]=Vis meny som inneholder kategorier av installerte applikasjoner
Comment[nl]=Geef menu weer met categorieën van geinstalleerde toepassingen
Comment[nn]=Vis ein meny som inneheld kategoriar i staden for installerte program
Comment[oc]=Afichar un menú que conten las categorias de las aplicacions installadas
Comment[pa]=ਇੰਸਟਾਲ ਐਪਲੀਕੇਸ਼ਨ ਦੀਆਂ ਕੈਟਾਗਰੀ ਰੱਖਣ ਵਾਲਾ ਮੇਨੂ ਵੇਖੋ
Comment[pl]=Wyświetla aktywatory zainstalowanych programów, rozmieszczone w menu
Comment[pt]=Mostrar um menu com as categorias das aplicações
Comment[pt_BR]=Mostrar um menu contendo as categorias dos aplicativos instalados
Comment[ro]=Arată un meniu conținând pe categorii programele instalate
Comment[ru]=Показывает меню, отображающее установленные приложения по категориям
Comment[si]=ස්ථාපිත යෙදුම් වල ප්‍රවර්ග පෙන්වන මෙනුවක් පෙන්වන්න
Comment[sk]=Zobrazí ponuku obsahujúcu kategórie nainštalovaných aplikácií
Comment[sl]=Pokaži meni, ki vsebuje kategorije nemeščenih programov
Comment[sr]=Прикажите изборник који садржи врсте уграђених програма
Comment[sv]=Visa en meny med kategorier av installerade program
Comment[th]=แสดงเมนูหมวดหมู่ของโปรแกรมต่างๆ ที่ติดตั้งไว้
Comment[tr]=Yüklenmiş uygulamaların kategorilerini içeren bir menü göster
Comment[ug]=ئورنىتىلغان پروگراممىلارنىڭ كاتېگورىيىسى بار تىزىملىكنى كۆرسەت
Comment[uk]=Показати меню, що включає категорії встановлених програм
Comment[vi]=Hiển thị thực đơn bao gồm các mục ứng dụng đã được cài đặt
Comment[zh_CN]=显示包含已安装应用程序类别的菜单
Comment[zh_HK]=顯示包含已安裝應用程式分類的選單
Comment[zh_TW]=顯示包含已安裝應用程式分類的選單
Icon=xfce4-panel-menu
X-XFCE-Module=applicationsmenu
X-XFCE-Internal=TRUE
X-XFCE-API=1.0
