[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Clock
Name[am]=ስዓት
Name[ar]=الساعة
Name[ast]=Reló
Name[be]=Гадзіньнік
Name[bg]=Часовник
Name[bn]=ঘড়ি
Name[ca]=Rellotge
Name[cs]=Hodiny
Name[da]=Ur
Name[de]=Uhr
Name[el]=Ρολόι
Name[en_AU]=Clock
Name[en_GB]=Clock
Name[eo]=Horloĝo
Name[es]=Reloj
Name[et]=Kell
Name[eu]=Ordularia
Name[fi]=Kello
Name[fr]=Horloge
Name[gl]=Reloxo
Name[he]=שעון
Name[hr]=Sat
Name[hu]=Óra
Name[id]=Jam
Name[is]=Klukka
Name[it]=Orologio
Name[ja]=時計
Name[kk]=Сағат
Name[ko]=시계
Name[lt]=Laikrodis
Name[lv]=Pulkstenis
Name[ms]=Jam
Name[nb]=Klokke
Name[nl]=Klok
Name[nn]=Klokke
Name[oc]=Relòtge
Name[pa]=ਕਲਾਕ
Name[pl]=Zegar
Name[pt]=Relógio
Name[pt_BR]=Relógio
Name[ro]=Ceas
Name[ru]=Часы
Name[si]=ඔරලෝසුව
Name[sk]=Hodiny
Name[sl]=Ura
Name[sq]=Orë
Name[sr]=Часовник
Name[sv]=Klocka
Name[te]=గడియారం
Name[th]=นาฬิกา
Name[tr]=Saat
Name[ug]=سائەت
Name[uk]=Годинник
Name[ur]=گھڑی
Name[ur_PK]=گھڑی
Name[vi]=Đồng hồ
Name[zh_CN]=时钟
Name[zh_HK]=時鐘
Name[zh_TW]=時鐘
Comment=What time is it?
Comment[am]=ስዓት ስንት ነው?
Comment[ar]=ماهى الساعة؟
Comment[ast]=¿Qué hora ye?
Comment[be]=Колькі зараз часу?
Comment[bg]=Колко е часът?
Comment[bn]=কয়টা বাজে?
Comment[ca]=Quina hora és?
Comment[cs]=Kolik je hodin?
Comment[da]=Hvad er klokken?
Comment[de]=Wieviel Uhr ist es?
Comment[el]=Τι ώρα είναι;
Comment[en_AU]=What time is it?
Comment[en_GB]=What time is it?
Comment[eo]=Kiomhore estas?
Comment[es]=¿Qué hora es?
Comment[et]=Mis kell on?
Comment[eu]=Zein ordu da?
Comment[fi]=Paljonko kello on?
Comment[fr]=Quelle heure est-il ?
Comment[gl]=Que hora é?
Comment[he]=מה השעה?
Comment[hr]=Koliko je sati?
Comment[hu]=Mennyi az idő?
Comment[id]=Jam berapa sekarang?
Comment[is]=Hvað er klukkan?
Comment[it]=Che ora è?
Comment[ja]=今何時ですか?
Comment[kk]=Сағат қанша?
Comment[ko]=몇 시죠?
Comment[lt]=Kiek dabar valandų?
Comment[lv]=Cik rāda pulkstenis?
Comment[ms]=Pukul berapa sekarang?
Comment[nb]=Hva er klokken?
Comment[nl]=Hoe laat is het?
Comment[nn]=Kor mykje er klokka?
Comment[oc]=Quina ora es ?
Comment[pa]=ਕੀ ਟਾਈਮ ਹੈ?
Comment[pl]=Wyświetla bieżący czas
Comment[pt]=Que horas são?
Comment[pt_BR]=Que horas são?
Comment[ro]=Cât e ceasul?
Comment[ru]=Который час?
Comment[si]=දැන් වේලාව කීයද?
Comment[sk]=Koľko je hodín?
Comment[sl]=Koliko je ura?
Comment[sq]=Sa është ora?
Comment[sr]=Колико је сати?
Comment[sv]=Vad är klockan?
Comment[th]=กี่โมงแล้ว?
Comment[tr]=Saat kaç?
Comment[ug]=سائەت قانچە بولدى؟
Comment[uk]=Котра година?
Comment[ur]=کیا وقت ہے؟
Comment[ur_PK]=کیا وقت ہے؟
Comment[vi]=Bây giờ là mấy giờ?
Comment[zh_CN]=现在几点？
Comment[zh_HK]=現在幾點？
Comment[zh_TW]=現在幾點？
Icon=office-calendar
X-XFCE-Module=clock
X-XFCE-Internal=TRUE
X-XFCE-API=1.0
