[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Directory Menu
Name[ar]=قائمة المجلد
Name[ast]=Menú de direutoriu
Name[bg]=Меню на директория
Name[bn]=ডিরেক্টরি মেনু
Name[ca]=Directori de mení
Name[cs]=Adresářová nabídka
Name[da]=Mappemenu
Name[de]=Verzeichnismenü
Name[el]=Μενού καταλόγου
Name[en_AU]=Directory Menu
Name[en_GB]=Directory Menu
Name[es]=Menú de directorios
Name[et]=Kataloogi menüü
Name[eu]=Direktorio menua
Name[fi]=Hakemistovalikko
Name[fr]=Menu de répertoire
Name[gl]=Menú de directorios
Name[he]=תפריט ספרייה
Name[hr]=Izbornik direktorija
Name[hu]=Könyvtár menü
Name[id]=Menu Direktori
Name[is]=Möppuvalmynd
Name[it]=Menu delle cartelle
Name[ja]=ディレクトリメニュー
Name[kk]=Бумалар мәзірі
Name[ko]=디렉터리 메뉴
Name[lt]=Aplanko meniu
Name[ms]=Menu Direktori
Name[nb]=Mappemeny
Name[nl]=Mapmenu
Name[nn]=Mappemeny
Name[oc]=Menú de repertòri
Name[pa]=ਡਾਇਰੈਕਟਰੀ ਮੇਨੂ
Name[pl]=Menu katalogów
Name[pt]=Menu do diretório
Name[pt_BR]=Menu de diretórios
Name[ro]=Meniu de directoare
Name[ru]=Каталог
Name[si]=බහලුම් මෙනුව
Name[sk]=Ponuka adresára
Name[sl]=Meni map
Name[sr]=Изборник датотека
Name[sv]=Katalogmeny
Name[th]=เมนูไดเรกทอรี
Name[tr]=Dizin  Menüsü
Name[ug]=مۇندەرىجە تىزىملىكى
Name[uk]=Меню теки
Name[vi]=Thực đơn thư mục
Name[zh_CN]=目录菜单
Name[zh_HK]=目錄選單
Name[zh_TW]=目錄選單
Comment=Show a directory tree in a menu
Comment[ar]=عرض شجرة المجلد في إحدى القوائم
Comment[ast]=Amosar un árbol de direutoriu nun menú
Comment[bg]=Показване на дървото на директориите в меню
Comment[bn]=মেনুতে একটি ডিরেক্টরি ট্রি প্রদর্শন
Comment[ca]=Mostra un arbre de directoris al menú
Comment[cs]=Zobrazí adresářový strom v nabídce
Comment[da]=Vis en mappestruktur i en menu
Comment[de]=Verzeichnisbaum im Menü anzeigen
Comment[el]=Εμφάνιση δέντρου καταλόγων σε μενού
Comment[en_AU]=Show a directory tree in a menu
Comment[en_GB]=Show a directory tree in a menu
Comment[es]=Muestra el árbol de directorios en un menú
Comment[eu]=Ikusi direktorio zuhaitza menu batean
Comment[fi]=Näytä hakemistorakenne valikossa
Comment[fr]=Afficher l’arborescence d’un répertoire dans un menu
Comment[gl]=Mostrar unha árbore de directorios nun menú
Comment[he]=הצג עץ ספרייה בתוך תפריט
Comment[hr]=Pokaži stablo direktorija u izborniku
Comment[hu]=A könyvtárfa megjelenítése menüben
Comment[id]=Tampilkan pohon direktori di menu
Comment[is]=Birta möppugreinar í valmynd
Comment[it]=Mostra l'albero delle cartelle in un menu
Comment[ja]=メニューにディレクトリツリーを表示します。
Comment[kk]=Мәзірде бумалар ағашын көрсету
Comment[ko]=메뉴에서 디렉터리 트리를 보여줍니다
Comment[lt]=Meniu rodyti aplankų medį
Comment[ms]=Papar pepohon direktori di dalam menu
Comment[nb]=Vis mappestruktur i en meny
Comment[nl]=Toon een mappen-boomstructuur in een menu
Comment[nn]=Vis mappetreet i ein meny
Comment[oc]=Afichar una arborescéncia de repertòris dins un menú
Comment[pa]=ਮੇਨੂ ਵਿੱਚ ਡਾਇਰੈਕਟਰੀ ਟਰੀ ਵੇਖੋ
Comment[pl]=Wyświetla drzewo katalogów w menu
Comment[pt]=Mostrar árvore de diretório no menu 
Comment[pt_BR]=Mostrar uma árvore de diretórios em um menu
Comment[ro]=Arată un arbore de directoare în meniu
Comment[ru]=Отображает в меню дерево каталогов
Comment[si]=මෙනුවක බහලුම් වෘක්ෂයක් පෙන්නන්න
Comment[sk]=Zobrazí adresárový strom v ponuke
Comment[sl]=Pokaži drevo map v meniju
Comment[sr]=Прикажи стабло фасцикли у изборнику
Comment[sv]=Visa ett katalogträd i en meny
Comment[th]=แสดงโครงสร้างต้นไม้ของไดเรกทอรีในรูปเมนู
Comment[tr]=Menüde bir dizin ağacı göster
Comment[ug]=مۇندەرىجە دەرىخىنى تىزىملىكتە كۆرسىتىدۇ
Comment[uk]=Показувати вміст теки в меню
Comment[vi]=Hiển thị cây thư mục trong thực đơn
Comment[zh_CN]=在菜单中显示目录树
Comment[zh_HK]=在選單內顯示目錄樹
Comment[zh_TW]=在選單內顯示目錄樹
Icon=folder
X-XFCE-Module=directorymenu
X-XFCE-Internal=TRUE
X-XFCE-API=1.0
