[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Launcher
Name[am]=አስነሽ
Name[ar]=مُطْلِق
Name[ast]=Llanzador
Name[be]=Запускальнік
Name[bg]=Стартер
Name[bn]=আরম্ভকারী
Name[ca]=Llançadora
Name[cs]=Spouštěč
Name[da]=Starter
Name[de]=Starter
Name[el]=Εκκινητής
Name[en_AU]=Launcher
Name[en_GB]=Launcher
Name[eo]=Lanĉilo
Name[es]=Lanzador
Name[et]=Käivitaja
Name[eu]=Abiarazlea
Name[fi]=Käynnistin
Name[fr]=Lanceur
Name[gl]=Iniciador
Name[he]=משגר
Name[hr]=Pokretač
Name[hu]=Indító
Name[id]=Peluncur
Name[is]=Ræsir
Name[it]=Avviatore
Name[ja]=ランチャー
Name[kk]=Жөнелткіш
Name[ko]=실행 아이콘
Name[lt]=Leistukas
Name[lv]=Palaidējs
Name[ms]=Pelancar
Name[nb]=Programstarter
Name[nl]=Starter
Name[nn]=Programstartar
Name[oc]=Aviador
Name[pa]=ਲਾਂਚਰ
Name[pl]=Aktywator
Name[pt]=Lançador
Name[pt_BR]=Lançador
Name[ro]=Lansator
Name[ru]=Запуск приложений
Name[si]=පුරනය
Name[sk]=Spúšťač
Name[sl]=Zaganjalnik
Name[sq]=Nisës
Name[sr]=Покретач
Name[sv]=Programstartare
Name[te]=ప్రారంభకము
Name[th]=ปุ่มเรียก
Name[tr]=Başlatıcı
Name[ug]=ئىجراچى
Name[uk]=Запуск програм
Name[ur]=لاؤنچر
Name[ur_PK]=لاؤنچر
Name[vi]=Trình gọi
Name[zh_CN]=启动器
Name[zh_HK]=啟動列
Name[zh_TW]=啟動器
Comment=Program launcher with optional menu
Comment[am]=የምርጫ ምናሌ ያለው የፕሮግራም ማስነሻ
Comment[ar]=مُطْلِق البرامج مع قائمة اختيارية
Comment[ast]=Llanzador de programa con menú opcional
Comment[be]=Запускальнік праграм з апцыянальным мэню
Comment[bg]=Стартер на програма с допълнително меню
Comment[bn]=ঐচ্ছিক মেনু সহকারে প্রোগ্রাম লঞ্চার
Comment[ca]=Llançadora de programa amb menu opcional
Comment[cs]=Spouštěč programu s volitelnou nabídkou
Comment[da]=Program afvikler med valgfri menu
Comment[de]=Programmstarter mit optionalem Menü
Comment[el]=Εκκινητής προγραμμάτων με προαιρετικό μενού
Comment[en_AU]=Program launcher with optional menu
Comment[en_GB]=Program launcher with optional menu
Comment[eo]=Programa lanĉilo kun opcia menuo
Comment[es]=Lanzador de programas con menú opcional
Comment[et]=Rakenduse käivitaja valikulise menüüga
Comment[eu]=Programa abiarazlea aukerako menu batez
Comment[fi]=Sovelluskäynnistin valinnaisella valikolla
Comment[fr]=Lanceur de programme avec menu facultatif
Comment[gl]=Iniciador de aplicativos con menú opcional
Comment[he]=משגר יישום עם אפשרות לתפריט
Comment[hr]=Pokretač programa s neobaveznim izbornikom
Comment[hu]=Programindító elhagyható menüvel
Comment[id]=Peluncur program dengan menu opsional
Comment[is]=Forritaræsir með mögulegri valmynd
Comment[it]=Avviatore di programmi con menu opzionale
Comment[ja]=オプションでメニューが付くプログラムランチャーです。
Comment[kk]=Қосымша мәзірі бар бағдарлама жіберуші
Comment[ko]=선택 메뉴가 있는 프로그램 실행 아이콘입니다
Comment[lt]=Programų leistukas su papildomu meniu
Comment[lv]=Programmu palaidējs ar iespējamu izvēlni
Comment[ms]=Pelancar program dengan menu pilihan
Comment[nb]=Programstarter med valgfri undermeny
Comment[nl]=Programma-starter met optioneel menu
Comment[nn]=Programstartar med tilleggsmeny
Comment[oc]=Aviador de programa amb menú facultatiu
Comment[pa]=ਚੋਣਵੇਂ ਮੇਨੂ ਨਾਲ ਪਰੋਗਰਾਮ ਲਾਂਚਰ
Comment[pl]=Uruchamia programy z opcjonalnymi parametrami
Comment[pt]=Lançador de programas com menu opcional
Comment[pt_BR]=Lançador de programas com menu opcional
Comment[ro]=Lansator de programe cu meniu opțional
Comment[ru]=Кнопка запуска приложений с дополнительным меню
Comment[si]=විකල්ප මෙනුවක් සහිත යෙදුම් පුරනය
Comment[sk]=Programový spúšťač s nastaviteľnou ponukou
Comment[sl]=Programski zaganjalnik, po možnosti z menijem
Comment[sq]=Nisës programi me menu opsionale
Comment[sr]=Покретач програма са могућим додатним изборником
Comment[sv]=Programstartare med meny som tillval
Comment[th]=ปุ่มเรียกโปรแกรมพร้อมเมนูประกอบถ้ามี
Comment[tr]=Uygulama çalıştırıcısı
Comment[ug]=تاللانما تىزىملىكى بار ئىجراچى
Comment[uk]=Кнопка запуску програм з додатковим меню
Comment[ur]=پروگرام لاؤنچر بمع اختیاری مینیو
Comment[ur_PK]=پروگرام لاؤنچر بمع اختیاری مینیو
Comment[vi]=Trình chạy chương trình với trình đơn tùy chọn
Comment[zh_CN]=带可选菜单的程序启动器
Comment[zh_HK]=程式啟動列，可附加選單
Comment[zh_TW]=程式啟動器，可附加選單
Icon=application-x-executable
X-XFCE-Module=launcher
X-XFCE-Internal=TRUE
X-XFCE-API=1.0
