[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Workspace Switcher
Name[ar]=مبدّل مساحات العمل
Name[ast]=Seleutor d'estaya trabayu
Name[bg]=Превключване на работните места
Name[bn]=কর্মপরিসর পরিবর্তক
Name[ca]=Canviador d'espais de treball
Name[cs]=Přepínač pracovních ploch
Name[da]=Skifter til arbejdsområde
Name[de]=Arbeitsflächenumschalter
Name[el]=Εναλλάκτης χώρων εργασίας
Name[en_AU]=Workspace Switcher
Name[en_GB]=Workspace Switcher
Name[es]=Selector de áreas de trabajo
Name[et]=Tööala vahetaja
Name[eu]=Idazmahaia aldatzailea
Name[fi]=Työtilan vaihtaja
Name[fr]=Changeur d’espace de travail
Name[gl]=Selector de espazos de traballo
Name[he]=בורר משטח עבודה
Name[hr]=Prebacivač radnih prostora
Name[hu]=Munkaterület-váltó
Name[id]=Penukar Ruang kerja
Name[is]=Vinnusvæðaskiptir
Name[it]=Selettore di spazi di lavoro
Name[ja]=ワークスペーススイッチャー
Name[kk]=Жұмыс орындар ауыстырғышы
Name[ko]=작업 공간 전환기
Name[lt]=Darbalaukių perjungiklis
Name[lv]=Darbavietu pārslēdzējs
Name[ms]=Penukar Ruangkerja
Name[nb]=Arbeidsområdevelger
Name[nl]=Werkbladwisselaar
Name[nn]=Arbeidsområdeskiftar
Name[oc]=Cambiador d'espaci de trabalh
Name[pa]=ਵਰਕਸਪੇਸ ਸਵਿੱਚਰ
Name[pl]=Podgląd obszarów roboczych
Name[pt]=Alternador da área de trabalho
Name[pt_BR]=Alternador de espaço de trabalho
Name[ro]=Comutator de spații de lucru
Name[ru]=Переключатель рабочих мест
Name[si]=වැඩතලය මං මාරුව
Name[sk]=Prepínač pracovných plôch
Name[sl]=Preklopnik delovnih površin
Name[sq]=Këmbyes Hapësirash Pune
Name[sr]=Измењивач радног простора
Name[sv]=Arbetsyteväxlare
Name[te]=కార్యక్షేత్రాల మార్పకం
Name[th]=สลับพื้นที่ทำงาน
Name[tr]=Çalışma Alanı Değiştiricisi
Name[ug]=خىزمەت رايونى ئالماشتۇرغۇ
Name[uk]=Перемикач Робочих областей
Name[ur]=مقام کار مبدل
Name[ur_PK]=مقام کار مبدل
Name[vi]=Chuyển đổi không gian làm việc
Name[zh_CN]=工作区切换器
Name[zh_HK]=工作區切換器
Name[zh_TW]=工作區切換器
Comment=Switch between virtual desktops
Comment[ar]=يبدل بين أسطح المكتب الإفتراضية
Comment[ast]=Camuda d'escritoriu virtual
Comment[bg]=Превключване между виртуалните работни плотове
Comment[bn]=ভার্চুয়াল ডেস্কটপের মাঝে পরিবর্তন
Comment[ca]=Canvia entre escriptoris virtuals
Comment[cs]=Přepínání mezi virtuálními prostředními
Comment[da]=Skift mellem virtuelle skriveborde
Comment[de]=Zwischen virtuellen Schreibtischen umschalten
Comment[el]=Εναλλαγή μεταξύ εικονικών επιφανειών εργασίας
Comment[en_AU]=Switch between virtual desktops
Comment[en_GB]=Switch between virtual desktops
Comment[es]=Cambiar entre escritorios virtuales
Comment[et]=Vaheta virtuaalseid töölaudasid
Comment[eu]=Idazmahai birtualen artean aldatu
Comment[fi]=Vaihda virtuaalityöpöytien välillä
Comment[fr]=Changer de bureau virtuel
Comment[gl]=Cambiar entre os escritorios virtuais
Comment[he]=החלף בין שולחנות מדומים
Comment[hr]=Prebacivanje virtualnih radnih površina
Comment[hu]=Váltás virtuális asztalok között
Comment[id]=Tukar diantara desktop virtual
Comment[is]=Skipta milli sýndarskjáborða
Comment[it]=Scorre le scrivanie virtuali
Comment[ja]=仮想デスクトップを切り替えます。
Comment[kk]=Виртуалды жұмыс үстелдерді ауыстырады
Comment[ko]=가상 데스크톱을 전환합니다
Comment[lt]=Persijungti tarp virtualių darbalaukių
Comment[lv]=Pārslēgtiem starp virtuālajām darbvirsmām
Comment[ms]=Tukar diantara desktop maya
Comment[nb]=Bytt mellom virtuelle arbeidsområder
Comment[nl]=Wisselen tussen virtuele bureaubladen
Comment[nn]=Vel mellom virtuelle skrivebord
Comment[oc]=Cambiar de pòstes de trabalh virtuals
Comment[pa]=ਵੁਰਚੁਅਲ ਡੈਸਕਟਾਪ ਵਿੱਚ ਸਵਿੱਚ ਕਰੋ
Comment[pl]=Przełącza pomiędzy obszarami roboczymi
Comment[pt]=Trocar entre áreas de trabalho virtuais
Comment[pt_BR]=Alternar entre áreas de trabalho virtuais
Comment[ro]=Comutare între desktopurile virtuale
Comment[ru]=Позволяет переключаться между виртуальными рабочими местами
Comment[si]=අතථ්‍ය වැඩතල අතර මාරු වෙන්න
Comment[sk]=Prepínač virtuálnych pracovných plôch
Comment[sl]=Preklopi med navideznimi namizji
Comment[sq]=Kalo nga një desktop virtual te tjetri
Comment[sr]=Пребацујте се између нестварних радних површи
Comment[sv]=Växla mellan virtuella skrivbord
Comment[th]=สลับไปมาระหว่างพื้นโต๊ะเสมือนต่างๆ
Comment[tr]=Sanal masaüstleri arasında geçiş yap
Comment[ug]=مەۋھۇم ئۈستەلئۈستىلىرىنى ئۆزئارا ئالماشتۇرسۇن
Comment[uk]=Перемикатись між віртуальними стільницями
Comment[ur]=تصوراتی ڈیسک ٹاپس کے درمیان منتقل ہوں
Comment[ur_PK]=تصوراتی ڈیسک ٹاپس کے درمیان منتقل ہوں
Comment[vi]=Chuyển đổi giữa các màn hình ảo
Comment[zh_CN]=在虚拟桌面间切换
Comment[zh_HK]=在虛擬桌面之間切換
Comment[zh_TW]=在虛擬桌面之間切換
Icon=xfce4-workspaces
X-XFCE-Module=pager
X-XFCE-Internal=TRUE
X-XFCE-API=1.0
