[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Power Manager Plugin
Name[ast]=Complementu del xestor d'enerxía
Name[bg]=Добавка  за Управление на захранването
Name[cs]=Zásuvný modul Správa napájení
Name[da]=Modul til strømstyring
Name[de]=Energieverwaltungserweiterung
Name[en_AU]=Power Manager Plugin
Name[es]=Complemento de administración de energía
Name[fi]=Virransäästöliitännäinen
Name[fr]=Greffon du gestionnaire d’alimentation
Name[he]=תוסף מנהל צריכת חשמל
Name[hr]=Dodatak Upravitelja energijom
Name[is]=Orkustjórnunarviðbót
Name[it]=Plugin del gestore di energia
Name[ja]=電源管理プラグイン
Name[kk]=Эл. қорегін басқарушысы плагині
Name[ko]=전원 관리자 플러그인
Name[ms]=Pemalam Pengurus Kuasa
Name[nb]=Strømbehandlingstillegg
Name[nl]=Invoegtoepassing voor energiebeheerder
Name[pl]=Zasilanie
Name[pt]=Plugin Gestor de Energia
Name[pt_BR]=Plug-in Gerenciador de energia
Name[ro]=Modul al managerului de consum
Name[ru]=Модуль менеджера питания
Name[sk]=Zás. modul Správcu napájania
Name[sl]=Vstavek upravljalnika porabe energije
Name[sr]=Прикључак управника потрошње
Name[th]=ปลั๊กอินจัดการพลังงาน
Name[tr]=Güç Yönetimi Eklentisi
Name[uk]=Плагін Менеджера живлення
Name[zh_CN]=电量管理插件
Name[zh_TW]=電源管理員插件
Comment=Display the battery levels of your devices and control the brightness of your display
Comment[ast]=Amosar los niveles de batería de los tos preseos y controlar el rellumu de la to pantalla
Comment[bg]=Показва заряда на батерията на вашите устройства и контролира яркостта на дисплея
Comment[cs]=Zobrazuje úrovně baterií zařízení a ovládá jas displeje
Comment[da]=Vis batteriniveauerne for dine enheder og administrér lysstyrken på din skærm
Comment[de]=Den Akkuladestand Ihrer Geräte anzeigen und die Helligkeit Ihres Bildschirms steuern
Comment[en_AU]=Display the battery levels of your devices and control the brightness of your display
Comment[es]=Muestra los niveles de carga de batería de sus dispositivos y permite controlar el brillo de la pantalla.
Comment[fi]=Näytä laitteidesi akkujen tasot ja hallitse näyttösi kirkkautta
Comment[fr]=Afficher les niveaux de batterie de vos périphériques et contrôler la luminosité de votre écran.
Comment[he]=הצגת רמות הסוללה של ההתקנים שלך ושליטה בבהירות התצוגה שלך
Comment[hr]=Prikazuje razinu baterije vašeg uređaja te kontrolira svjetlinu vašeg zaslona
Comment[it]=Mostra il livello di carica dei dispositivi e controlla la luminosità dello schermo
Comment[ja]=デバイスのバッテリレベルを表示し、ディスプレイの輝度を制御します
Comment[kk]=Құрылғыларыңыздың батарея заряды шамасын көрсетеді және экран жарықтылығын басқарады
Comment[ko]=장치 배터리 수준을 표시하고 디스플레이 밝기를 조절합니다
Comment[ms]=Papar aras bateri peranti anda dan kawal kecerahan paparan anda
Comment[nb]=Vis batterinivået til dine enheter og kontroller lysstyrken til skjermen din
Comment[nl]=Toon de acculadingniveaus van uw apparaten en beheers de helderheid van uw scherm
Comment[pl]=Wyświetla poziom naładowania urządzeń i steruje jasnością ekranu
Comment[pt]=Mostrar o nível da bateria dos dispositivos e controlar o brilho do ecrã
Comment[pt_BR]=Exibe os níveis de bateria dos seus dispositivos e controla o brilho do seu monitor
Comment[ro]=Afișează nivelul bateriei pentru dispozitivele conectate și controlează luminozitatea displayului
Comment[ru]=Показывает уровень заряда ваших устройств и регулирует яркость экрана
Comment[sk]=Zobrazí hodnoty batérie zariadení a riadi jas displeja
Comment[sl]=Pokaži nivo baterij naprav in prilagodi svetlost zaslona
Comment[sr]=Приказује ступањ попуне батерије уређаја и управља осветљењем екрана
Comment[th]=แสดงระดับแบตเตอรี่ของอุปกรณ์ต่างๆ และปรับความสว่างของจอภาพ
Comment[tr]=Cihazlarınızın  pil seviyelerini görüntüleyin ve ekranınızın parlaklılığını kontrol edin
Comment[uk]=Показує рівень заряду акумулятора ваших пристроїв і контролює яскравість монітора
Comment[zh_CN]=显示设备电量并控制屏幕亮度
Comment[zh_TW]=顯示您的裝置的電池電力及控制您顯示器的亮度
Icon=xfpm-primary-100-charging
X-XFCE-Module=xfce4powermanager
X-XFCE-Unique=TRUE
X-XFCE-Internal=false
