[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Separator
Name[ar]=فاصل
Name[ast]=Separtador
Name[bg]=Разделител
Name[bn]=বিভাজক
Name[ca]=Separador
Name[cs]=Oddělovač
Name[da]=Skillelinje
Name[de]=Trennelement
Name[el]=Διαχωριστικό
Name[en_AU]=Separator
Name[en_GB]=Separator
Name[es]=Separador
Name[et]=Eraldaja
Name[eu]=Bereizlea
Name[fi]=Erotin
Name[fr]=Séparateur
Name[gl]=Separador
Name[he]=מפריד
Name[hr]=Razdjelnik
Name[hu]=Elválasztó
Name[id]=Pemisah
Name[is]=Aðgreinir
Name[it]=Separatore
Name[ja]=セパレーター
Name[kk]=Ажыратқыш
Name[ko]=구분선
Name[lt]=Skirtukas
Name[ms]=Pemisah
Name[nb]=Skille
Name[nl]=Scheidingslijn
Name[nn]=Skilje
Name[oc]=Separador
Name[pa]=ਸੈਪਰੇਟਰ
Name[pl]=Separator
Name[pt]=Separador
Name[pt_BR]=Separador
Name[ro]=Separator
Name[ru]=Разделитель
Name[si]=විභේදකය
Name[sk]=Oddeľovač
Name[sl]=Ločilnik
Name[sr]=Раздвајач
Name[sv]=Avgränsare
Name[te]=వేర్పకము
Name[th]=ขีดคั่น
Name[tr]=Ayırıcı 
Name[ug]=ئايرىغۇچ
Name[uk]=Розділювач
Name[vi]=Phần ngăn cách
Name[zh_CN]=分隔符
Name[zh_HK]=分隔符
Name[zh_TW]=分隔符
Comment=Adds a separator or space between panel items
Comment[ar]=إضافة فاصل أو مسافة بين عناصر اللوحة
Comment[ast]=Amestar un separtador o espaciu ente los elementos del panel
Comment[bg]=Добавя разделител или разстояние между елементите в панела
Comment[bn]=প্যানেল আইটেমসমূহের মধ্যে বিভাজক বা ফাঁকাস্থান যোগ করে
Comment[ca]=Afegeix un espai o separador entre els elements del quadre
Comment[cs]=Přidá oddělovač nebo prostor mezi položkami panelu
Comment[da]=Tilføj en skillelinje eller et mellemrum mellem panelets elementer
Comment[de]=Fügt ein Trennelement oder Platz zwischen Leistenelementen ein
Comment[el]=Προσθέτει ένα κενό ή μια γραμμή μεταξύ των αντικειμένων του ταμπλό
Comment[en_AU]=Adds a separator or space between panel items
Comment[en_GB]=Adds a separator or space between panel items
Comment[es]=Agrega un separador o espacio entre elementos del panel
Comment[et]=Lisab ribal paiknevate esemete vahele tühja ruumi või eraldaja
Comment[eu]=Panel elementuen artean lekua edo bereizle bat gehitu
Comment[fi]=Lisää erottimen paneelin kohteiden väliin
Comment[fr]=Ajoute un séparateur ou un espace entre les éléments du tableau de bord
Comment[gl]=Engadir un separador ou un espazo entre os elementos do panel
Comment[he]=מוסיף מפריד או רווח בין פריטי לוח
Comment[hr]=Dodaje razdjelnik ili razmak između stavki ploče
Comment[hu]=Elválasztó vagy hely beszúrása a panelelemek közé
Comment[id]=Tambah pemisah atau spasi diantara item panel
Comment[is]=Bætir við aðgreini eða bili á milli atriða á stiku
Comment[it]=Aggiunge un separatore o uno spazio tra gli elementi del pannello
Comment[ja]=パネルのアイテム間に区切りか空間を加えます。
Comment[kk]=Панель элементтері арасында орын не ажыратқышты қояды
Comment[ko]=항목 사이에 빈 공간이나 구분선을 추가합니다
Comment[lt]=Prideda skirtuką arba tarpą tarp skydelio elementų
Comment[ms]=Tambah pemisah atau ruang diantara item panel
Comment[nb]=Legger til skille eller mellomrom mellom panelelementer
Comment[nl]=Voegt een scheidingslijn of witruimte tussen elementen in
Comment[nn]=Legg til ein delestrek eller eit mellomrom mellom paneloppføringane
Comment[oc]=Apond un separador o un espaci entre los elements
Comment[pa]=ਪੈਨਲ ਆਈਟਮਾਂ 'ਚ ਇੱਕ ਸਪਰੇਟਰ ਜਾਂ ਸਪੇਸ ਸ਼ਾਮਲ ਕਰੋ
Comment[pl]=Rozdziela aplety za pomocą odstępu lub separatora
Comment[pt]=Adiciona um separador ou espaço entre os itens do painel
Comment[pt_BR]=Adiciona um separador ou espaço entre os itens do painel
Comment[ro]=Adăugați un separator ori un spațiu între elementele panoului
Comment[ru]=Добавляет разделитель или промежуток между элементами панели
Comment[si]=පුවරු අයිතම අතරට විභේදයක් හෝ ඉඩක් එක් කරන්න
Comment[sk]=Pridá oddeľovač alebo medzeru medzi položkami panela
Comment[sl]=Vstavi ločilnik ali presledek med predmete pulta
Comment[sr]=Додаје раздвајач или простор између ставки на полици
Comment[sv]=Lägg till en avskiljare eller utrymme mellan panelobjekt
Comment[th]=เพิ่มเส้นขีดคั่นหรือช่องว่างระหว่างรายการต่างๆ บนพาเนล
Comment[tr]=Panel öğeleri arasına boşluk veya ayraç ekler
Comment[ug]=كۆزنەكتىكى تۈرلەر ئارىسىغا ئايرىغۇ ياكى بوشلۇق قوش
Comment[uk]=Додавання розділювача або інтервалу між елементами панелі
Comment[zh_CN]=在面板项目间添加一个分隔符或空格
Comment[zh_HK]=在面板項目間加入分隔符或空格
Comment[zh_TW]=在面板項目間加入分隔符或空格
Icon=gtk-remove
X-XFCE-Module=separator
X-XFCE-Internal=TRUE
X-XFCE-API=1.0
