[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Show Desktop
Name[am]=ደስኩን አሳይ
Name[ar]=عرض سطح المكتب
Name[ast]=Amosar escritoriu
Name[be]=Паказаць сталец
Name[bg]=Показване на работният плот
Name[bn]=ডেস্কটপ প্রদর্শন করা হবে
Name[ca]=Mostra l'escriptori
Name[cs]=Zobrazit plochu
Name[da]=Vis skrivebord
Name[de]=Schreibtisch anzeigen
Name[el]=Εμφάνιση επιφάνειας εργασίας
Name[en_AU]=Show Desktop
Name[en_GB]=Show Desktop
Name[eo]=Montru la Labortablon
Name[es]=Mostrar escritorio
Name[et]=Näita töölauda
Name[eu]=Ikusi mahaigaina
Name[fi]=Näytä työpöytä
Name[fr]=Afficher le bureau
Name[gl]=Mostrar o escritorio
Name[he]=הצג את שולחן העבודה
Name[hr]=Pokaži radnu površinu
Name[hu]=Asztal megjelenítése
Name[id]=Tampilkan Desktop
Name[is]=Sýna skjáborðið
Name[it]=Mostra scrivania
Name[ja]=デスクトップ表示
Name[kk]=Жұмыс үстелін көрсету
Name[ko]=데스크톱 표시
Name[lt]=Rodyti darbastalį
Name[lv]=Rādīt darbvirsmu
Name[ms]=Papar Desktop
Name[nb]=Vis skrivebord
Name[nl]=Bureaublad tonen
Name[nn]=Vis skrivebordet
Name[oc]=Afichar lo burèu
Name[pa]=ਡੈਸਕਟਾਪ ਵੇਖੋ
Name[pl]=Wyświetlanie pulpitu
Name[pt]=Mostrar ambiente de trabalho
Name[pt_BR]=Mostrar a área de trabalho
Name[ro]=Arată desktopul
Name[ru]=Показать рабочий стол
Name[si]=වැඩතලය පෙන්වන්න
Name[sk]=Zobrazí pracovnú plochu
Name[sl]=Pokaži namizje
Name[sq]=Shfaq Desktop
Name[sr]=Прикажи радну површ
Name[sv]=Visa skrivbordet
Name[te]=డెస్క్‍టాప్ చూపించు
Name[th]=แสดงพื้นโต๊ะ
Name[tr]=Masaüstünü Göster
Name[ug]=ئۈستەلئۈستىنى كۆرسەت
Name[uk]=Показати Стільницю
Name[ur]=ڈیسک ٹاپ دکھائیں
Name[ur_PK]=ڈیسک ٹاپ دکھائیں
Name[vi]=Hiển thị nền
Name[zh_CN]=显示桌面
Name[zh_HK]=顯示桌面
Name[zh_TW]=顯示桌面
Comment=Hide all windows and show the desktop
Comment[ar]=إخفاء كافة الإطارات وعرض سطح المكتب
Comment[ast]=Anubrir toles ventanes y amosar escritoriu
Comment[bg]=Скриване на всички прозорци и показване на работният плот
Comment[bn]=সব উইন্ডো আড়াল করে ডেস্কটপ প্রদর্শন করা হবে
Comment[ca]=Oculta totes les finestres i mostra l'escriptori
Comment[cs]=Skrýt všechna okna a zobrazit plochu
Comment[da]=Skjul alle vinduer og vis skrivebordet
Comment[de]=Fenster verstecken und Schreibtisch anzeigen
Comment[el]=Απόκρυψη των παραθύρων και εμφάνιση της επιφάνειας εργασίας
Comment[en_AU]=Hide all windows and show the desktop
Comment[en_GB]=Hide all windows and show the desktop
Comment[es]=Minimizar todas las ventanas para mostrar el escritorio
Comment[et]=Peida kõik aknad ja näita töölauda
Comment[eu]=Ezkutatu leiho guztiak eta mahaigaina bistarazi
Comment[fi]=Piiloita kaikki ikkunat ja näytä työpöytä
Comment[fr]=Cacher toutes les fenêtres et afficher le bureau
Comment[gl]=Ocultar todas as xanelas e mostrar o escritorio
Comment[he]=הסתר את כל החלונות והצג את שולחן העבודה
Comment[hr]=Sakrij sve prozore i pokaži radnu površinu
Comment[hu]=Minden ablak elrejtése, és az asztal megjelenítése
Comment[id]=Sembunyikan semua jendela dan tampilkan desktop
Comment[is]=Fela alla glugga og sýna skjáborðið
Comment[it]=Nasconde tutte le finestre e mostra la scrivania
Comment[ja]=すべてのウィンドウを隠してデスクトップを表示します。
Comment[kk]=Барлық терезелерді жасырып, жұмыс үстелін көрсету
Comment[ko]=모든 창을 숨기고 데스크톱 표시합니다
Comment[lt]=Slėpti visus langus ir rodyti darbastalį
Comment[lv]=Slēpt visus logus un rādīt darbvirsmu
Comment[ms]=Sembunyikan semua tetingkap dan paparkan desktop
Comment[nb]=Skjul alle vinduer og vis skrivebordet
Comment[nl]=Verberg alle vensters en toon het bureaublad
Comment[nn]=Gøym alle vindaugo og vis skrivebordet
Comment[oc]=Amagar totas las fenèstras e afichar lo burèu
Comment[pa]=ਸਭ ਵਿੰਡੋਜ਼ ਓਹਲੇ ਅਤੇ ਡੈਸਕਟਾਪ ਵੇਖੋ
Comment[pl]=Minimalizuje wszystkie okna i wyświetla pulpit
Comment[pt]=Ocultar todas as janelas e mostrar o ambiente de trabalho
Comment[pt_BR]=Ocultar todas as janelas e mostrar a área de trabalho
Comment[ro]=Ascunde toate ferestrele și arată desktopul
Comment[ru]=Скрыть все окна и показать рабочий стол
Comment[si]=සියළු කවුළු සඟවා වැඩතලය පෙන්වන්න
Comment[sk]=Skryje všetky okná a zobrazí pracovnú plochu
Comment[sl]=Skrij vsa okna in prikaži namizje
Comment[sq]=Fshih tërë dritaret dhe shfaq desktopin
Comment[sr]=Сакриј све прозоре и прикажи радну површ
Comment[sv]=Dölj alla fönster och visa skrivbordet
Comment[th]=ซ่อนหน้าต่างทั้งหมดและแสดงพื้นโต๊ะ
Comment[tr]=Tüm pencereleri gizle ve masaüstünü göster
Comment[ug]=ھەممە كۆزنەكلەرنى يوشۇرۇپ ئۈستەلئۈستىنى كۆرسەتسۇن
Comment[uk]=Сховати всі вікна та показати робочу стільницю
Comment[ur]=تمام ونڈوز پوشیدہ کر کے ڈیسک ٹاپ دکھائیں
Comment[ur_PK]=تمام ونڈوز پوشیدہ کر کے ڈیسک ٹاپ دکھائیں
Comment[vi]=Ẩm tất cả các cửa sổ và hiện màn hình
Comment[zh_CN]=隐藏所有窗口并显示桌面
Comment[zh_HK]=隱藏所有視窗並顯示桌面
Comment[zh_TW]=隱藏所有視窗並顯示桌面
Icon=user-desktop
X-XFCE-Module=showdesktop
X-XFCE-Internal=TRUE
X-XFCE-API=1.0
