[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Notification Area
Name[ar]=مكان التذكير
Name[ast]=Estaya de notificación
Name[bg]=Зона за уведомяване
Name[bn]=ঘোষনা এলাকা
Name[ca]=Espai de notificació
Name[cs]=Oznamovací oblast
Name[da]=Påmindelsesområde
Name[de]=Benachrichtigungsfläche
Name[el]=Περιοχή ειδοποιήσεων
Name[en_AU]=Notification Area
Name[en_GB]=Notification Area
Name[es]=Área de notificación
Name[et]=Teateala
Name[eu]=Berri-emate eremua
Name[fi]=Ilmoitusalue
Name[fr]=Zone de notification
Name[gl]=Zona de notificación
Name[he]=אזור התראה
Name[hr]=Područje obavijesti
Name[hu]=Értesítési terület
Name[id]=Area Pemberitahuan
Name[is]=Tilkynningasvæði
Name[it]=Area di notifica
Name[ja]=通知エリア
Name[kk]=Хабарламалар орны
Name[ko]=알림 영역
Name[lt]=Pranešimų sritis
Name[lv]=Paziņošanas ikonu laukums
Name[ms]=Kawasan Pemakluman
Name[nb]=Systemkurv
Name[nl]=Meldingengebied
Name[nn]=Varslingsområde
Name[oc]=Zòna de notificacion
Name[pa]=ਨੋਟੀਫਿਕੇਸ਼ਨ ਏਰੀਆ
Name[pl]=Obszar powiadamiania
Name[pt]=Área de notificação
Name[pt_BR]=Área de notificação
Name[ro]=Zonă de notificare
Name[ru]=Системный лоток
Name[si]=දැනුම්දීම් ප්‍රදේශය
Name[sk]=Oznamovacia oblasť
Name[sl]=Obvestilno področje
Name[sq]=Zonë Njoftimesh
Name[sr]=Обавештајна област
Name[sv]=Notifieringsfält
Name[te]=ప్రకటన ప్రాంతము
Name[th]=พื้นที่แจ้งเหตุ
Name[tr]=Sistem çekmecesi
Name[ug]=ئۇقتۇرۇش رايونى
Name[uk]=Область повідомлень
Name[ur]=اطلاعی علاقہ
Name[ur_PK]=اطلاعی علاقہ
Name[vi]=Vùng thông báo
Name[zh_CN]=通知区域
Name[zh_HK]=通知區域
Name[zh_TW]=通知區域
Comment=Area where notification icons appear
Comment[ar]=مساحة عرض أيقونات التنبيه
Comment[ast]=Estaya na qu'apaecen los iconos de notificación
Comment[bg]=Област в която се появяват иконите на уведомленията
Comment[bn]=যে এলাকায় ঘোষনা আইকন দৃশ্যমান হয়
Comment[ca]=Espai on es mostraran las icones de notificació
Comment[cs]=Oblast pro zobrazení oznamovacích ikon
Comment[da]=Område hvor beskedikoner fremkommer
Comment[de]=Fläche, in der Symbole für Benachrichtigungen erscheinen
Comment[el]=Περιοχή που εμφανίζονται τα εικονίδια ειδοποίησης
Comment[en_AU]=Area where notification icons appear
Comment[en_GB]=Area where notification icons appear
Comment[es]=Área dónde aparecen los iconos de notificación
Comment[et]=Ala, kuhu ilmuvad teateikoonid
Comment[eu]=Berri-emate ikonoak agertzen diren eremua
Comment[fi]=Alue jolle ilmoituskuvakkeet ilmestyvät
Comment[fr]=Zone où les icônes de notification apparaissent
Comment[gl]=Zona onde aparecen as iconas de notificación
Comment[he]=אזור בו סמלי התראה מופיעים
Comment[hr]=Područje gdje se pojavljuju ikone obavijesti
Comment[hu]=Terület, ahol az értesítési ikonok megjelennek
Comment[id]=Area tempat ikon notifikasi muncul
Comment[is]=Svæðið þar sem tilkynningatáknmyndir birtast
Comment[it]=Area in cui compaiono le icone di notifica
Comment[ja]=通知アイコンが表示される領域です。
Comment[kk]=Хабарлама таңбашасы шығатын орны
Comment[ko]=알림 아이콘을 보일 영역입니다
Comment[lt]=Vieta, kurioje atsiranda pranešimų piktogramos
Comment[lv]=Laukums, kur parādās paziņošanas ikonas
Comment[ms]=Kawasan di mana ikon pemberitahuan muncul
Comment[nb]=Område som viser beskjedikoner
Comment[nl]=Gebied waar meldingpictogrammen verschijnen
Comment[nn]=Området der varslingsikona skal visa
Comment[oc]=Zòna ont las icònas de notificacion apareisson
Comment[pa]=ਏਰੀਆ, ਜਿੱਥੇ ਨੋਟੀਫਿਕੇਸ਼ਨ ਆਈਕਾਨ ਵੇਖਾਈ ਦੇਣਗੇ
Comment[pl]=Wyświetla ikony powiadomień
Comment[pt]=Área em os ícones de notificação vão aparecer
Comment[pt_BR]=Área onde os ícones de notificação aparecem
Comment[ro]=Zona în care apar iconițele de notificare
Comment[ru]=Область для отображения значков уведомлений
Comment[si]=දැනුම්දීම් අයිකන පෙනෙන ප්‍රදේශය
Comment[sk]=Oblasť pre zobrazenie oznamovacích ikon
Comment[sl]=Področje, kjer se prikažejo obvestilne ikone
Comment[sq]=Zonë ku shfaqen ikona njoftimesh
Comment[sr]=Област где се приказује иконица обавештења
Comment[sv]=Område där notifieringsikoner visas
Comment[th]=พื้นที่สำหรับไอคอนแจ้งเหตุ
Comment[tr]=Bildirim simgelerinin göründüğü alan
Comment[ug]=ئۇقتۇرۇش سىنبەلگىسى كۆرۈنىدىغان رايون
Comment[uk]=Область де відображаються значки сповіщення
Comment[ur]=وہ علاقہ جہاں اطلاعی آئکنز ظاہر ہوتی ہیں
Comment[ur_PK]=وہ علاقہ جہاں اطلاعی آئکنز ظاہر ہوتی ہیں
Comment[vi]=Vùng nơi các biểu tượng thông báo hiển thị
Comment[zh_CN]=通知图标出现的区域
Comment[zh_HK]=顯示通知圖示的區域
Comment[zh_TW]=顯示通知圖示的區域
Icon=applications-system
X-XFCE-Module=systray
X-XFCE-Internal=FALSE
X-XFCE-Unique=SCREEN
X-XFCE-API=1.0
