[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Window Buttons
Name[ar]=أزرار النافذة
Name[ast]=Botones de ventana
Name[bg]=Бутони на прозорец
Name[bn]=উইন্ডোর বোতাম
Name[ca]=Botons de la finestra
Name[cs]=Tlačítka okna
Name[da]=Vinduesknapper
Name[de]=Fensterknöpfe
Name[el]=Κουμπιά παραθύρων
Name[en_AU]=Window Buttons
Name[en_GB]=Window Buttons
Name[es]=Botones de ventanas
Name[et]=Akende nupud
Name[eu]=Leiho botoiak
Name[fi]=Ikkunapainikkeet
Name[fr]=Boutons des fenêtres
Name[gl]=Botóns de xanelas
Name[he]=לחצני חלונות
Name[hr]=Dugmad prozora
Name[hu]=Ablakgombok
Name[id]=Tombol Jendela
Name[is]=Gluggahnappar
Name[it]=Pulsanti delle finestre
Name[ja]=ウィンドウボタン
Name[kk]=Терезе батырмалары
Name[ko]=창 단추
Name[lt]=Langų mygtukai
Name[ms]=Butang Tetingkap
Name[nb]=Vindusknapper
Name[nl]=Vensterknoppen
Name[nn]=Vindaugsknappar
Name[oc]=Botons de las fenèstras
Name[pa]=ਵਿੰਡੋ ਬਟਨ
Name[pl]=Przyciski okien
Name[pt]=Botões de janela
Name[pt_BR]=Botões de janela
Name[ro]=Butoane pentru ferestre
Name[ru]=Кнопки окон
Name[si]=කවුළු බොත්තම්
Name[sk]=Tlačidlá okna
Name[sl]=Gumbi oken
Name[sr]=Дугмад прозора
Name[sv]=Fönsterknappar
Name[te]=కిటికీ బొత్తాలు
Name[th]=ปุ่มเลือกหน้าต่าง
Name[tr]=Pencere Düğmeleri
Name[ug]=كۆزنەك توپچىلىرى
Name[uk]=Кнопки вікна
Name[vi]=Các nút cửa sổ
Name[zh_CN]=窗口按钮
Name[zh_HK]=視窗按鈕
Name[zh_TW]=視窗按鈕
Comment=Switch between open windows using buttons
Comment[ar]=تحول بين النوافذ المفتوحة باستعمال أزرار
Comment[ast]=Intercamudar ventanes abiertes usando los botones
Comment[bg]=Превключване между отворените прозорци с помощта на бутоните
Comment[bn]=বোতাম ব্যবহার করে খোলা উইন্ডোসমূহের মধ্যে পরিবর্তন করা হবে
Comment[ca]=Canvia entre les finestres obertes emprant botons
Comment[cs]=Přepnout mezi otevřenými okny pomocí tlačítek
Comment[da]=Skift mellem åbne vinduer ved brug af knapper
Comment[de]=Mit Knöpfen zwischen offenen Fenstern umschalten
Comment[el]=Χρήση πλήκτρων για την εναλλαγή μεταξύ των ανοιχτών παραθύρων
Comment[en_AU]=Switch between open windows using buttons
Comment[en_GB]=Switch between open windows using buttons
Comment[es]=Cambiar entre ventanas abiertas utilizando botones
Comment[et]=Vaheta avatud aknaid nuppude abil
Comment[eu]=Aldatu irekitako leihoen artean botoiak erabiliaz
Comment[fi]=Vaihda avointen ikkunoiden välillä käyttäen painikkeita
Comment[fr]=Basculer entre les fenêtres ouvertes en utilisant des boutons
Comment[gl]=Cambiar entre as xanelas abertas usando botóns
Comment[he]=החלף בין חלונות פתוחים באמצעות לחצנים
Comment[hr]=Prebacuj između otvorenih prozora koristeći dugmad
Comment[hu]=Átváltás a nyitott ablakok között, gombok használatával
Comment[id]=Tukar diantara jendela yang terbuka dengan menggunakan tombol
Comment[is]=Skipta á milli opinna glugga með hnöppum
Comment[it]=Scorre tra le finestre aperte utilizzando i pulsanti
Comment[ja]=開いているウィンドウをボタンを使って切り替えます。
Comment[kk]=Ашық терезелер арасында батырмалар арқылы ауысу
Comment[ko]=단추를 사용하여 열려있는 창을 전환합니다
Comment[lt]=Persijunginėti tarp atvertų langų naudojant mygtukus
Comment[lv]=Pārslēgties starp atvērtiem logiem izmantojot pogas
Comment[ms]=Tukar antara tetingkap dibuka menggunakan butang
Comment[nb]=Skifte mellom åpne vinduer med taster
Comment[nl]=Wisselen tussen open vensters met behulp van knoppen
Comment[nn]=Byt mellom opne vindaugo ved å bruka knappar
Comment[oc]=Cambiar demest las fenèstras dobèrtas en utilizant los botons
Comment[pa]=ਬਟਨਾਂ ਦੀ ਵਰਤੋਂ ਕਰਕੇ ਖੁੱਲ੍ਹੀਆਂ ਵਿੰਡੋਜ਼ ਵਿੱਚ ਸਵਿੱਚ ਕਰੋ
Comment[pl]=Przełącza pomiędzy oknami przy pomocy przycisków
Comment[pt]=Trocar entre janelas abertas com os botões
Comment[pt_BR]=Alternar entre janelas abertas usando botões
Comment[ro]=Schimbați fereastra activă utilizând butoane
Comment[ru]=Позволяет переключаться между открытыми окнами используя кнопки
Comment[si]=බොත්තම් භාවිතයෙන් විවෘත කවුළු අතර මාරු වෙන්න
Comment[sk]=Prepínanie okien tlačidlami
Comment[sl]=Preklapljaj med odprtimi okni s pomočjo gumbov
Comment[sq]=Hidhu nga njëra dritare e hapur në tjetrën duke përdorur butona
Comment[sr]=Мењајте отворене прозоре користећи дугмад
Comment[sv]=Växla mellan öppna fönster med knappar
Comment[th]=สลับไปมาระหว่างหน้าต่างที่เปิดอยู่โดยใช้ปุ่มกด
Comment[tr]=Açık pencereler arasında düğmeleri kullanarak geçiş yap
Comment[ug]=توپچىلارنى ئىشلىتىپ ئوچۇق كۆزنەكلەرنى ئۆزئارا ئالماشتۇرسۇن
Comment[uk]=Перемикатись між відкритими вікнами використовуючи кнопки
Comment[ur]=بٹن کے استعمال سے کھلی ہوئی ونڈوز کے درمیان منتقل ہوں
Comment[ur_PK]=بٹن کے استعمال سے کھلی ہوئی ونڈوز کے درمیان منتقل ہوں
Comment[zh_CN]=使用按钮在打开的窗口间切换
Comment[zh_HK]=使用按鈕在開啟視窗間切換
Comment[zh_TW]=使用按鈕在開啟視窗間切換
Icon=preferences-system-windows
X-XFCE-Module=tasklist
X-XFCE-Internal=TRUE
X-XFCE-API=1.0
