[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Window Menu
Name[ar]=قائمة النافذة
Name[ast]=Menú de ventana
Name[bg]=Меню на прозорец
Name[bn]=উইন্ডো মেনু
Name[ca]=Menú de finestra
Name[cs]=Nabídka okna
Name[da]=Vinduesliste
Name[de]=Fenstermenü
Name[el]=Μενού παραθύρων
Name[en_AU]=Window Menu
Name[en_GB]=Window Menu
Name[es]=Menú de ventanas
Name[et]=Akende menüü
Name[eu]=Leiho menua
Name[fi]=Ikkunavalikko
Name[fr]=Menu de la fenêtre
Name[gl]=Menú de xanelas
Name[he]=תפריט חלונות
Name[hr]=Izbornik prozora
Name[hu]=Ablakmenü
Name[id]=Menu Jendela
Name[is]=Gluggavalmynd
Name[it]=Menu delle finestre
Name[ja]=ウィンドウメニュー
Name[kk]=Терезелер мәзірі
Name[ko]=창 메뉴
Name[lt]=Lango meniu
Name[ms]=Menu Tetingkap
Name[nb]=Vindusmeny
Name[nl]=Venstermenu
Name[nn]=Vindaugsmeny
Name[oc]=Menú de la fenèstra
Name[pa]=ਵਿੰਡੋ ਮੇਨੂ
Name[pl]=Menu okien
Name[pt]=Menu da janela
Name[pt_BR]=Menu de janelas
Name[ro]=Listă de ferestre
Name[ru]=Меню окна
Name[si]=කවුළු මෙනුව
Name[sk]=Ponuka okna
Name[sl]=Meni oken
Name[sr]=Изборник прозора
Name[sv]=Fönstermeny
Name[te]=విండో మెనూ
Name[th]=เมนูหน้าต่าง
Name[tr]=Pencere Listesi
Name[ug]=كۆزنەك تىزىملىكى
Name[uk]=Меню вікна
Name[vi]=Thực đơn cửa sổ
Name[zh_CN]=窗口菜单
Name[zh_HK]=視窗選單
Name[zh_TW]=視窗選單
Comment=Switch between open windows using a menu
Comment[ar]=تحول بين النوافذ المفتوحة باستعمال القائمة
Comment[ast]=Intercamudar ventanes abiertes usando un menú
Comment[bg]=Превключване между отворените прозорци, като се използва менюто
Comment[bn]=মেনু ব্যবহার করে খোলা উইন্ডোসমূহের মাঝে পরিবর্তন করুন
Comment[ca]=Canvia entre les finestres obertes emprant un menú
Comment[cs]=Přepnout mezi otevřenými okny pomocí nabídky
Comment[da]=Skift mellem åbne vinduer ved brug afen menu
Comment[de]=Mit einem Menü zwischen offenen Fenstern umschalten
Comment[el]=Χρήση μενού για την εναλλαγή μεταξύ των ανοιχτών παραθύρων
Comment[en_AU]=Switch between open windows using a menu
Comment[en_GB]=Switch between open windows using a menu
Comment[es]=Cambiar entre ventanas abiertas utilizando un menú
Comment[et]=Vaheta avatud aknaid menüü abil
Comment[eu]=Aldatu irekitako leihoen artean menua erabiliaz
Comment[fi]=Vaihda avoimien ikkunoiden välillä käyttäen valikkoa
Comment[fr]=Basculer entre les fenêtres ouvertes en utilisant un menu
Comment[gl]=Cambiar entre as xanelas abertas usando un menú
Comment[he]=החלף בין חלונות פתוחים באמצעות תפריט
Comment[hr]=Prebacuj između otvorenih prozora koristeći izbornik
Comment[hu]=Átváltás a nyitott ablakok között, menü használatával
Comment[id]=Tukar diantara jendela yang terbuka dengan menggunakan menu
Comment[is]=Skipta á milli opinna glugga með valmynd
Comment[it]=Scorre tra le finestre aperte utilizzando un menu
Comment[ja]=開いているウィンドウをメニューを使って切り替えます。
Comment[kk]=Ашық терезелер арасында мәзір арқылы ауысу
Comment[ko]=메뉴를 사용하여 열려있는 창을 전환합니다
Comment[lt]=Persijunginėti tarp atvertų langų naudojant meniu
Comment[lv]=Pārslēgties starp atvērtiem logiem izmantojot izvēlnes
Comment[ms]=Tukar antara tetingkap dibuka menggunakan menu
Comment[nb]=Skifte mellom åpne vinduer ved å bruke en meny
Comment[nl]=Schakelen tussen open vensters met behulp van een menu
Comment[nn]=Byt mellom opne vindaugo ved å bruka ein meny
Comment[oc]=Cambiar demest las fenèstras dobèrtas en utilizant un menú
Comment[pa]=ਮੇਨੂ ਦੀ ਵਰਤੋਂ ਕਰਕੇ ਖੁੱਲ੍ਹੀਆਂ ਵਿੰਡੋਜ਼ ਵਿੱਚ ਸਵਿੱਚ ਕਰੋ
Comment[pl]=Przełącza pomiędzy oknami przy użyciu menu
Comment[pt]=Trocar entre janelas abertas utilizando um menu
Comment[pt_BR]=Alterna entre janelas abertas usando um menu
Comment[ro]=Schimbați fereastra activă utilizând un meniu
Comment[ru]=Позволяет переключаться между открытыми окнами используя меню
Comment[si]=මෙනුවක් භාවිතයෙන් විවෘත කවුළු අතර මාරු වෙන්න
Comment[sk]=Prepínanie okien ponukou
Comment[sl]=Preklapljaj med odprtimi okni s pomočjo menija
Comment[sq]=Hidhu nga njëra dritare e hapur në tjetrën duke përdorur një menu
Comment[sr]=Мењајте отворене прозоре користећи изборник
Comment[sv]=Växla mellan öppna fönster med en meny
Comment[th]=สลับไปมาระหว่างหน้าต่างที่เปิดอยู่โดยใช้เมนู
Comment[tr]=Açık pencereler arasında bir menü kullanarak geçiş yap
Comment[ug]=تىزىملىكنى ئىشلىتىپ ئوچۇق كۆزنەكلەرنى ئۆزئارا ئالماشتۇرسۇن
Comment[uk]=Перемикатись між відкритими вікнами використовуючи меню
Comment[ur]=فہرست کے استعمال سے کھلی ہوئی ونڈوز کے درمیان منتقل ہوں
Comment[ur_PK]=فہرست کے استعمال سے کھلی ہوئی ونڈوز کے درمیان منتقل ہوں
Comment[vi]=Chuyển giữa các cửa sổ đang mở sử dụng một thực đơn
Comment[zh_CN]=使用菜单在打开的窗口间切换
Comment[zh_HK]=使用選單在開啟視窗間切換
Comment[zh_TW]=使用選單在開啟視窗間切換
Icon=preferences-system-windows
X-XFCE-Module=windowmenu
X-XFCE-Internal=TRUE
X-XFCE-API=1.0
