[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Orage Panel Clock
Name[ar]=لوحة ساعة أوراج
Name[ast]=Reló de panel Orage
Name[be]=Гадзіннік Orage на панэлі
Name[bg]=Часовник за панела Orage
Name[ca]=Rellotge de quadre Orage
Name[cs]=Hodiny aplikace Orage na panel
Name[de]=Orage-Uhr
Name[en_AU]=Orage Panel Clock
Name[en_GB]=Orage Panel Clock
Name[es]=Panel de reloj Orage
Name[eu]=Orage panel ordularia
Name[fi]=Orage -paneelikello
Name[fr]=Horloge du tableau de bord Orage
Name[hr]=Orage sat ploče
Name[hu]=Orage panelóra
Name[id]=Jam Panel Orage
Name[it]=Orologio di Orage per il pannello
Name[ja]=Orage パネル時計
Name[kk]=Orage панельдегі сағат
Name[ko]=Orage 패널 시계
Name[lt]=Orage skydelio laikrodis
Name[lv]=Orage paneļa pulkstenis
Name[ms]=Jam Panel Orage
Name[nb]=Orage Panelklokke
Name[nl]=Orage werkbalkklok
Name[nn]=Orage panelklokke
Name[oc]=Relòtge del panèl Orage
Name[pl]=Panel zegara
Name[pt]=Relógio de painel Orage
Name[pt_BR]=Relógio de painel Orage
Name[ru]=Часы с датой Orage
Name[sk]=Panel hodín Orage
Name[sr]=Ораж часовник за полицу
Name[sv]=Panelklockan Orage
Name[th]=นาฬิกาพาเนล Orage
Name[tr]=Orage Panel Saati
Name[ug]=Orage كۆزنەك سائىتى
Name[uk]=Панель годинника Orage
Name[zh_CN]=Orage 面板时钟
Name[zh_TW]=Orage 面板時鐘
Comment=Show time and date?
Comment[ar]=عرض الوقت والتاريخ؟
Comment[ast]=¿Amosar data y hora?
Comment[be]=Паказваць час і дату?
Comment[bg]=Показване на час и дата?
Comment[ca]=Mostra l'hora i la data?
Comment[cs]=Zobrazit datum a čas?
Comment[de]=Wieviel Uhr und welches Datum ist jetzt?
Comment[el]=Εμφάνιση ημερομηνίας και ώρας;
Comment[en_AU]=Show time and date?
Comment[en_GB]=Show time and date?
Comment[es]=¿Mostrar fecha y hora?
Comment[eu]=Ikusi data eta ordua?
Comment[fi]=Näytä aika ja päiväys?
Comment[fr]=Afficher l'heure et la date ?
Comment[hr]=Pokaži datum i vrijeme?
Comment[hu]=Idő és dátum megjelenítése
Comment[id]=Tampilkan jam dan tanggal?
Comment[it]=Mostrare ora e data?
Comment[ja]=今の日付と時刻は?
Comment[kk]=Уақыт пен күнді көрсету керек пе?
Comment[ko]=시간과 날짜를 보여줄까요?
Comment[lt]=Rodyti datą ir laiką?
Comment[lv]=Rādīt datumu un laiku?
Comment[ms]=Tunjuk masa dan tarikh?
Comment[nb]=Hvis tid og dato
Comment[nl]=Tijd en datum tonen?
Comment[nn]=Vis tid og dato?
Comment[oc]=Afichar l'ora e la data ?
Comment[pl]=Wyświetlić datę i czas?
Comment[pt]=Mostrar hora e data?
Comment[pt_BR]=Mostrar horas e data?
Comment[ru]=Дата и время
Comment[sk]=Zobrazovať čas a dátum?
Comment[sr]=Да прикажем време и датум?
Comment[sv]=Visa tid och datum?
Comment[th]=แสดงวันที่และเวลา
Comment[tr]=Saati ve tarihi göster?
Comment[ug]=ۋاقىت ۋە چېسلانى كۆرسەتسۇنمۇ؟
Comment[uk]=Показати дату і годину?
Comment[zh_CN]=显示时间和日期？
Comment[zh_TW]=顯示時間與日期 ?
Icon=xfce-schedule
X-XFCE-Module=orageclock
X-XFCE-Internal=FALSE

