[Desktop Entry]
Name=Kali

X-KDE-PluginInfo-Name=kali
X-KDE-PluginInfo-Author=Kali Devel Team
X-KDE-PluginInfo-Email=devel@kali.org
#X-KDE-PluginInfo-License=GPL-2
