[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Debian Home Page
Comment=The offical web site of the Debian Project
Icon=emblem-debian
Type=Link
URL=http://www.debian.org

