/******************
 * window actions *
 ******************/

/* minimize */
.titlebar .titlebutton.minimize {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("assets/minD.png"));
}

.titlebar .titlebutton.minimize:backdrop {
    background-image: -gtk-scaled(url("assets/min_unfocusedD.png"));
}

.titlebar .titlebutton.minimize:hover,
.titlebar .titlebutton.minimize:checked {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("assets/min_prelightD.png"));
}

.titlebar .titlebutton.minimize:active {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("assets/min_unfocusedD.png"));
}

/* maximize */
.titlebar .titlebutton.maximize {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("assets/maxD.png"));
}

.titlebar .titlebutton.maximize:backdrop {
    background-image: -gtk-scaled(url("assets/max_unfocusedD.png"));
}


.titlebar .titlebutton.maximize:hover,
.titlebar .titlebutton.maximize:checked  {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("assets/max_prelightD.png"));
}

.titlebar .titlebutton.maximize:active  {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("assets/max_unfocusedD.png"));
}

/* close */
.titlebar .titlebutton.close {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("assets/closeD.png"));
}

.titlebar .titlebutton.close:backdrop {
    background-image: -gtk-scaled(url("assets/close_unfocusedD.png"));
}


.titlebar .titlebutton.close:hover,
.titlebar .titlebutton.close:checked  {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("assets/close_prelightD.png"));
}

.titlebar .titlebutton.close:active  {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("assets/close_unfocusedD.png"));
}

/*********************************
 * header-bar, toolbar separator *
 *********************************/
.header-bar > GtkBox > .separator.vertical {
    -GtkWidget-wide-separators: true;
    -GtkWidget-separator-width: 2px;
    background: transparent;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: transparent;
    border-image: -gtk-scaled(url("assets/header-separator_dark.png"),url("assets/header-separator_dark@2.png")) 0 1 0 1 / 0 1px 0 1px stretch;
}

/****************
 * Content view *
 ****************/
.content-view.view {
    background-image: url("assets/noise-texture-dark.png");
}

/*******************
 * check and radio *
 *******************/
.check,
.check row:selected,
.check row:selected:focus {
    -gtk-icon-source: url("assets/checkbox-unchecked-dark.svg");
}

.check:insensitive,
.check row:selected:insensitive,
.check row:selected:focus:insensitive {
    background-image: url("assets/checkbox-unchecked-insensitive-dark.svg");
}

.check:active, .check:checked,
.check row:selected:active, .check row:selected:checked,
.check row:selected:focus:active, .check row:selected:focus:checked {
    -gtk-icon-source: url("assets/checkbox-checked-dark.svg");
}

.check:active:insensitive, .check:checked:insensitive,
.check row:selected:active:insensitive, .check row:selected:checked:insensitive,
.check row:selected:focus:active:insensitive, .check row:selected:focus:checked:insensitive {
    -gtk-icon-source: url("assets/checkbox-checked-insensitive-dark.svg");
}


.check:inconsistent,
.check row:selected:inconsistent,
.check row:selected:focus:inconsistent {
    -gtk-icon-source: url("assets/checkbox-mixed-dark.svg");
}

.check:inconsistent:insensitive,
.check row:selected:inconsistent:insensitive,
.check row:selected:focus:inconsistent:insensitive {
    -gtk-icon-source: url("assets/checkbox-mixed-insensitive-dark.svg");
}

.radio,
.radio row:selected,
.radio row:selected:focus {
    -gtk-icon-source: url("assets/radio-unselected-dark.svg");
}

.radio:insensitive,
.radio row:selected:insensitive,
.radio row:selected:focus:insensitive {
    -gtk-icon-source: url("assets/radio-unselected-insensitive-dark.svg");
}

.radio:active, .radio:checked,
.radio row:selected:active, .radio row:selected:checked,
.radio row:selected:focus:active, .radio row:selected:focus:checked {
    -gtk-icon-source: url("assets/radio-selected-dark.svg");
}

.radio:active:insensitive, .radio:checked:insensitive,
.radio row:selected:active:insensitive, .radio row:selected:checked:insensitive,
.radio row:selected:focus:active:insensitive, .radio row:selected:focus:checked:insensitive {
    -gtk-icon-source: url("assets/radio-selected-insensitive-dark.svg");
}

.radio:inconsistent,
.radio row:selected:inconsistent,
.radio row:selected:focus:inconsistent {
    -gtk-icon-source: url("assets/radio-mixed-dark.svg");
}

.radio:inconsistent:insensitive,
.radio row:selected:inconsistent:insensitive,
.radio row:selected:focus:inconsistent:insensitive {
    -gtk-icon-source: url("assets/radio-mixed-insensitive-dark.svg");
}

/****************************
 * menuitem check and radio *
 ****************************/

.menuitem.check {
    -gtk-icon-source: -gtk-scaled(url("assets/menuitem-checkbox.svg"));
    color: @theme_fg_color;
    icon-shadow: none; 
}
.menuitem.check:active, .menuitem.check:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/menuitem-checkbox-checked.svg"));
}
.menuitem.check:inconsistent {
    -gtk-icon-source: -gtk-scaled(url("assets/menuitem-checkbox-mixed.svg"));
}

.menuitem.check:active:hover {
    color: @theme_selected_fg_color;
}
.menuitem.check:insensitive {
    color: @insensitive_fg_color; 
}

.menuitem.radio {
    -gtk-icon-source: -gtk-scaled(url("assets/menuitem-radio.svg"));
    color: @theme_fg_color;
    icon-shadow: none; 
}
.menuitem.radio:active, .menuitem.radio:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/menuitem-radio-checked.svg"));
}
.menuitem.radio:inconsistent {
    -gtk-icon-source: -gtk-scaled(url("assets/menuitem-radio-mixed.svg"));
}
.menuitem.radio:hover {
    color: @theme_selected_fg_color;
}
.menuitem.radio:insensitive {
    color: @insensitive_fg_color; 
}


GtkIconView.view.check,
GtkFlowBox.view.check {
    -gtk-icon-source: -gtk-scaled(url("assets/grid-selection-unchecked-dark.png"), url("assets/grid-selection-unchecked-dark@2.png"));
    background-color: transparent; }

GtkIconView.view.check:checked,
GtkFlowBox.view.check:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/grid-selection-checked-dark.png"), url("assets/grid-selection-checked-dark@2.png"));
    background-color: transparent; }


