[KdmGreeterTheme]
Encoding=UTF-8
Greeter=kali.xml
Name=Kali
Description=Kali KDM Theme
Author=Eshat Cakar, Adrien Aubourg
Copyright=(c) 2012 Eshat Cakar <info@eshat.de>, (c) 2010 Roman Shtylman <shtylman@gmail.com>, Adrien Aubourg
Screenshot=screenshot.png
