[Desktop Entry]
Version=1.0
Icon=system-file-manager
Type=X-XFCE-Helper
Name=Caja File Manager
Name[ar]=مدير الملفات Caja
Name[ast]=Xestor de ficheros Caja
Name[bg]=Caja файлов мениджър
Name[ca]=Gestor de fitxers Caja
Name[cs]=Správce souborů Caja
Name[da]=Filhåndteringen Caja
Name[de]=Caja-Dateiverwaltung
Name[el]=Διαχειριστής αρχείων PCMan
Name[en_AU]=Caja File Manager
Name[en_GB]=Caja File Manager
Name[es]=Administrador de archivos Caja
Name[et]=Caja failihaldur
Name[eu]=CAja fitxategi kudeatzailea
Name[fi]=Caja-tiedostonhallinta
Name[fr]=Gestionnaire de fichiers Caja
Name[gl]=Xestor de ficheiros Caja
Name[he]=מנהל הקבצים Caja
Name[hr]=Caja upravitelj datotekama
Name[hu]=Caja fájlkezelő
Name[id]=Manajer Berkas Caja
Name[is]=Caja skráastjóri
Name[it]=Gestore dei file Caja
Name[ja]=Caja ファイルマネージャー
Name[kk]=Caja файлдар басқарушысы
Name[ko]=Caja 파일 관리자
Name[lt]=Caja Failų Tvarkytuvė
Name[ms]=Pengurus Fail Caja
Name[nb]=Caja Filbehandler
Name[nl]=Caja bestandbeheerder
Name[nn]=Caja filhandsamar
Name[oc]=Gestionari de fichièrs Caja
Name[pl]=Menedżer plików Caja
Name[pt]=Gestor de ficheiros Caja
Name[pt_BR]=Gerenciador de arquivos Caja
Name[ro]=Managerul de fișiere Caja
Name[ru]=Файловый-менеджер Caja
Name[sk]=Správca súborov Caja
Name[sl]=Caja upravljalnik datotek
Name[sr]=Управник датотека Цаја
Name[sv]=Filhanteraren Caja
Name[te]=కాజా దస్త్ర నిర్వాహకం
Name[th]=โปรแกรมจัดการแฟ้ม Caja
Name[tr]=Caja Dosya Yöneticisi
Name[ug]=Caja ھۆججەت باشقۇرغۇ
Name[uk]=Файловий менеджер Caja
Name[vi]=Trình quản lý tệp tin Caja
Name[zh_CN]=Caja 文件管理器
Name[zh_HK]=Caja 檔案管理員
Name[zh_TW]=Caja 檔案管理員
StartupNotify=true
X-XFCE-Binaries=caja;
X-XFCE-Category=FileManager
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B --no-desktop --browser "%s";
