
[Desktop Entry]
Version=1.0
Icon=chromium
Type=X-XFCE-Helper
Name=Chromium
Name[ar]=Chromium
Name[ast]=Chromium
Name[bg]=Chromium
Name[ca]=Chromium
Name[cs]=Chromium
Name[da]=Chromium
Name[de]=Chromium
Name[el]=Chromium
Name[en_AU]=Chromium
Name[en_GB]=Chromium
Name[es]=Chromium
Name[et]=Chromium
Name[eu]=Chromium
Name[fi]=Chromium
Name[fr]=Chromium
Name[gl]=Chromium
Name[he]=Chromium
Name[hr]=Chromium
Name[hu]=Chromium
Name[id]=Chromium
Name[is]=Chromium
Name[it]=Chromium
Name[ja]=Chromium
Name[kk]=Chromium
Name[ko]=크로미움
Name[lt]=Chromium
Name[ms]=Chromium
Name[nb]=Chromium
Name[nl]=Chromium
Name[nn]=Chromium
Name[oc]=Chromium
Name[pl]=Chromium
Name[pt]=Chromium
Name[pt_BR]=Chromium
Name[ro]=Chromium
Name[ru]=Chromium
Name[sk]=Chromium
Name[sl]=Chromium
Name[sr]=Кромијум
Name[sv]=Chromium
Name[te]=క్రోమియమ్
Name[th]=Chromium
Name[tr]=Chromium
Name[ug]=خىروم
Name[uk]=Хроміум
Name[vi]=Chromium
Name[zh_CN]=Chromium
Name[zh_HK]=Chromium
Name[zh_TW]=Chromium
StartupNotify=true
X-XFCE-Binaries=chromium;google-chrome;chromium-browser;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
