[Desktop Entry]
Version=1.0
Icon=debian
Type=X-XFCE-Helper
Name=Debian Sensible Browser
Name[ar]=متصفح ديبيان
Name[ast]=Debian Sensible Browser
Name[be]=Прадвызначаны Гартач у Debian
Name[bg]=Дебиан Sensible браузър
Name[bn]=ডেবিয়ান সংবেদনশীল ব্রাউজার
Name[ca]=Navegador sensible de Debian
Name[cs]=Debian Sensible Browser
Name[da]=Debian Sensible Browser
Name[de]=Debians voreingestellter Internetnavigator
Name[el]=Φυλλομετρητής Sensible Debian
Name[en_AU]=Debian Sensible Browser
Name[en_GB]=Debian Sensible Browser
Name[es]=Navegador sensible de Debian
Name[et]=Debian Sensible brauser
Name[eu]=Debian lehenetsiriko nabigatzailea
Name[fi]=Debianin sensible-browser
Name[fr]=Navigateur Sensible Debian
Name[gl]=Navegador Sensible de Debian
Name[he]=Debian Sensible Browser
Name[hr]=Debian osjetljivi preglednik
Name[hu]=Debian környezetérzékeny böngésző
Name[id]=Peramban Sensitif Debian
Name[is]=Debian Sensible vafri
Name[it]=Debian Sensible Browser
Name[ja]=Debian Sensible ブラウザー
Name[kk]=Debian Sensible Browser
Name[ko]=데비안 센서블 브라우저
Name[lt]=Debian Sensible naršyklė
Name[lv]=Debian Sensible pārlūks
Name[ms]=Pelayar Serasi Debian
Name[nb]=Debian Sensible Browser
Name[nl]=Debian Sensible Browser
Name[nn]=Debian Sensible Browser
Name[oc]=Navigador Sensible Debian
Name[pa]=ਡੇਬੀਅਨ ਸੈਂਸੇਬਲ ਬਰਾਊਜ਼ਰ
Name[pl]=Debian Sensible Browser
Name[pt]=Navegador Debian Sensible
Name[pt_BR]=Navegador do Debian
Name[ro]=Navigatorul standard Debian
Name[ru]=Debian Sensible Browser
Name[sk]=Debian Sensible Browser
Name[sl]=Debian Sensible brskalnik
Name[sq]=Shfletuesi Debian Sensible
Name[sr]=Разумни читач Дебијана
Name[sv]=Debians sensible-browser
Name[te]=డెబియన్ సెన్సిబుల్ విహారకం
Name[th]=เบราว์เซอร์ตามเกณฑ์ของเดเบียน
Name[tr]=Debian Sensible Browser
Name[ug]=Debian Sensible كۆرگۈ
Name[uk]=Переглядач Debian
Name[ur]=ڈیبین سینسبل براؤزر
Name[ur_PK]=ڈیبین سینسبل براؤزر
Name[vi]=Debian Sensible Browser
Name[zh_CN]=Debian 实用浏览器
Name[zh_HK]=Debian Sensible 瀏覽器
Name[zh_TW]=Debian Sensible 瀏覽器
StartupNotify=false
X-XFCE-Binaries=sensible-browser;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
