[Desktop Entry]
Version=1.0
Icon=debian
Type=X-XFCE-Helper
Name=Debian X Terminal Emulator
Name[ar]=محاكي طرفية ديبيان
Name[ast]=Emulador de X terminal de Debian
Name[be]=Эмулятар X-тэрмінала Debian
Name[bg]=Дебиан X Терминал
Name[bn]=ডেবিয়ান X টার্মিনাল ইম্যুলেটর
Name[ca]=Emulador de Terminal X de Debian
Name[cs]=Debian X Terminal Emulator
Name[da]=Debian X Terminal Emulator
Name[de]=Debians voreingestelltes Terminal
Name[el]=Προσομοίωση τερματικού Debian
Name[en_AU]=Debian X Terminal Emulator
Name[en_GB]=Debian X Terminal Emulator
Name[es]=Emulador de terminal X de Debian
Name[et]=Debiani X terminaliemulaator
Name[eu]=Debian X terminal emuladorea
Name[fi]=Debianin X-pääteohjelma
Name[fr]=Émulateur de terminal X Debian
Name[gl]=Emulador de terminal para as X de Debian
Name[he]=Debian X Terminal Emulator
Name[hr]=Debian X emulator terminala
Name[hu]=Debian X terminálemulátor
Name[id]=Emulator Terminal X Debian
Name[is]=Debian X skjáhermir
Name[it]=Emulatore di terminale X di Debian
Name[ja]=Debian X ターミナルエミュレーター
Name[kk]=Debian X терминал эмуляторы
Name[ko]=데비안 X 터미널 에뮬레이터
Name[lt]=Debian X Terminalo Emulatorius
Name[lv]=Debian X termināla emulators
Name[ms]=Emulator Terminal X Debian
Name[nb]=Debian X Terminalemulator
Name[nl]=Debian X Terminalvenster
Name[nn]=Debian X-terminalprogram
Name[oc]=Emulator de terminal X Debian
Name[pa]=ਡੇਬੀਅਨ X ਟਰਮੀਨਲ ਈਮੁਲੇਟਰ
Name[pl]=Debian X
Name[pt]=Emulador de terminal Debian X
Name[pt_BR]=Emulador de terminal X do Debian
Name[ro]=Terminalul standard Debian
Name[ru]=Эмулятор терминала Debian
Name[sk]=Debian X Terminal Emulator
Name[sl]=Debianov X terminalski emulator
Name[sq]=Emulues Debian Terminal X
Name[sr]=Опонашач Икс терминала за Дебијан
Name[sv]=Debian X-terminalemulator
Name[te]=డెబియన్ X టెర్మినల్ ఎమ్యులేటర్
Name[th]=โปรแกรมจำลองเทอร์มินัลของเดเบียน
Name[tr]=Debian X Uçbirim Öykünücüsü
Name[ug]=Debian X تېرمىنال تەقلىدلىگۈ
Name[uk]=Емулятор терміналу Debian X
Name[ur]=ڈبین X ٹرمنل ایمولیٹر
Name[ur_PK]=ڈبین X ٹرمنل ایمولیٹر
Name[vi]=Trình giả lập dòn lệnh Debian
Name[zh_CN]=Debian X 终端模拟器
Name[zh_HK]=Debian X 終端機模擬器
Name[zh_TW]=Debian X 終端機模擬器
StartupNotify=false
X-XFCE-Binaries=x-terminal-emulator;
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -e %s;
