[Desktop Entry]
Version=1.0
Icon=encompass
Type=X-XFCE-Helper
Name=Encompass
Name[ar]=يشمل
Name[ast]=Encompass
Name[be]=Encompass
Name[bg]=Encompass
Name[bn]=এনকম্পাস
Name[ca]=Encompass
Name[cs]=Encompass
Name[da]=Encompass
Name[de]=Encompass
Name[el]=Encompass
Name[en_AU]=Encompass
Name[en_GB]=Encompass
Name[es]=Encompass
Name[et]=Encompass
Name[eu]=Encompass
Name[fi]=Encompass
Name[fr]=Encompass
Name[gl]=Encompass
Name[he]=Encompass
Name[hr]=Encompass
Name[hu]=Encompass
Name[id]=Encompass
Name[is]=Encompass
Name[it]=Encompass
Name[ja]=Encompass
Name[kk]=Encompass
Name[ko]=Encompass
Name[lt]=Encompass
Name[lv]=Encompass
Name[ms]=Encompass
Name[nb]=Encompass
Name[nl]=Encompass
Name[nn]=Encompass
Name[oc]=Encompass
Name[pa]=ਇਨ-ਕੰਪਾਸ
Name[pl]=Encompass
Name[pt]=Encompass
Name[pt_BR]=Encompass
Name[ro]=Encompass
Name[ru]=Encompass
Name[sk]=Encompass
Name[sl]=Encompass
Name[sq]=Encompass
Name[sr]=Обухватач
Name[sv]=Encompass
Name[te]=ఎన్‌కంపాస్
Name[th]=Encompass
Name[tr]=Encompass
Name[ug]=Encompass
Name[uk]=Переглядач Encompass
Name[ur]=اینکمپاس
Name[ur_PK]=اینکمپاس
Name[vi]=Encompass
Name[zh_CN]=Encompass
Name[zh_HK]=Encompass
Name[zh_TW]=Encompass
StartupNotify=true
X-XFCE-Binaries=encompass;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
