[Desktop Entry]
Version=1.0
Icon=web-browser
Type=X-XFCE-Helper
Name=Epiphany Web Browser
Name[ar]=متصفّح الوِب إبِفَني
Name[ast]=Restolador web Epiphany
Name[be]=Гартач Сеціва Epiphany
Name[bg]=Epiphany Интернет браузър
Name[bn]=এপিফেনি ওয়েব ব্রাউজার
Name[ca]=Navegador web Epiphany
Name[cs]=Webový prohlížeč Epiphany
Name[da]=Epiphany webbrowser
Name[de]=Epiphany
Name[el]=Περιηγητής διαδικτύου Epiphany
Name[en_AU]=Epiphany Web Browser
Name[en_GB]=Epiphany Web Browser
Name[es]=Navegador web Epiphany
Name[et]=Epiphany veebibrauser
Name[eu]=Epiphany web nabigatzailea
Name[fi]=Epiphany web-selain
Name[fr]=Navigateur Web Epiphany
Name[gl]=Navegador Web Epiphany
Name[he]=דפדפן האינטרנט Epiphany
Name[hr]=Epiphany web preglednik
Name[hu]=Epiphany webböngésző
Name[id]=Peramban Web Epiphany
Name[is]=Epiphany netvafri
Name[it]=Browser web Epiphany
Name[ja]=Epiphany ウェブブラウザー
Name[kk]=Epiphany веб браузері
Name[ko]=에피파니 웹 브라우저
Name[lt]=Epiphany saityno naršyklė
Name[lv]=Epiphany tīmekļa pārlūks
Name[ms]=Pelayar Sesawang Epiphany
Name[nb]=Epiphany nettleser
Name[nl]=Epiphany Webbrowser
Name[nn]=Epiphany nettlesar
Name[oc]=Navigador Web Epiphany
Name[pa]=ਏਪੀਫਨੀ ਵੈੱਬ ਬਰਾਊਜ਼ਰ
Name[pl]=Epiphany
Name[pt]=Navegador web Epiphany
Name[pt_BR]=Navegador web Epiphany
Name[ro]=Navigatorul Epiphany
Name[ru]=Веб-браузер Epiphany
Name[sk]=Epiphany internetový prehliadač
Name[sl]=Epiphany spletni brskalnik
Name[sq]=Sfletuesi Web Epiphany
Name[sr]=Спознаја веб прегледник
Name[sv]=Webbläsaren Epiphany
Name[te]=ఎపిఫని జాల విహారకం
Name[th]=เว็บเบราว์เซอร์ Epiphany
Name[tr]=Epiphany Web Browser
Name[ug]=Epiphany توركۆرگۈ
Name[uk]=Переглядач Web Epiphany
Name[ur]=اپپفنی ویب براؤزر
Name[ur_PK]=اپپفنی ویب براؤزر
Name[vi]=Trình duyệt Epiphany
Name[zh_CN]=Epiphany 网络浏览器
Name[zh_HK]=Epiphany 網頁瀏覽器
Name[zh_TW]=Epiphany 網路瀏覽器
StartupNotify=true
X-XFCE-Binaries=epiphany;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
