[Desktop Entry]
Version=1.0
Icon=Eterm
Type=X-XFCE-Helper
Name=Enlightened Terminal Emulator
Name[ar]=محاكي ترفية Enlightened
Name[ast]=Emulador de Enlightened Terminal
Name[be]=Эмулятар тэрмінала Enlightened
Name[bg]=Enlightened Терминал
Name[bn]=টার্মিনাল ইমুলেটর এনলাইটেনড
Name[ca]=Emulador de terminal Enlightened
Name[cs]=Enlightened Terminal Emulator
Name[da]=Enlightened Terminal Emulator
Name[de]=Enlightened Terminal-Emulator
Name[el]=Προσομοίωση τερματικού Enlightenment
Name[en_AU]=Enlightened Terminal Emulator
Name[en_GB]=Enlightened Terminal Emulator
Name[es]=Emulador de terminal Enlightened
Name[et]=Enlightened terminaliemulaator
Name[eu]=Enlightened terminal emuladorea
Name[fi]=ETerm-pääteohjelma
Name[fr]=Émulateur de terminal Enlightened
Name[gl]=Enlightened Terminal Emulator
Name[he]=Enlightened Terminal Emulator
Name[hr]=Enlightened emulator terminala
Name[hu]=Enlightened terminálemulátor
Name[id]=Emulator Terminal Enlightened
Name[is]=Enlightened skjáhermir
Name[it]=Emulatore di terminale Enlightened
Name[ja]=Enlightened ターミナルエミュレーター
Name[kk]=Enlightened терминал эмуляторы
Name[ko]=가벼워진 터미널 에뮬레이터
Name[lt]=Enlightened Terminalo Emulatorius
Name[lv]=Enlightened termināla emulators
Name[ms]=Emulator Terminal Enlightened
Name[nb]=Enlightened Terminalemulator
Name[nl]=Enlightened Terminalvenster
Name[nn]=Enlightened terminalprogram
Name[oc]=Emulator de terminal Enlightened
Name[pa]=ਇਨਲਾਈਟਮਿੰਟ ਟਰਮੀਨਲ ਈਮੂਲੇਟਰ
Name[pl]=Enlightened
Name[pt]=Emulador de terminal Enlightened 
Name[pt_BR]=Emulador de terminal Enlightened
Name[ro]=Terminalul Enlightened
Name[ru]=Эмулятор терминала Enlightened
Name[sk]=Enlightened Terminal Emulator
Name[sl]=Enlightened terminalski emulator
Name[sq]=Emulues Terminali Enlightened
Name[sr]=Опонашач терминала Просвећења
Name[sv]=Enlightened terminalemulator
Name[te]=ఎన్‌లైటెన్డ్ టెర్మినల్ ఎమ్యులేటర్
Name[th]=โปรแกรมจำลองเทอร์มินัล Enlightened
Name[tr]=Enlightened Uçbirim Öykünücüsü
Name[ug]=Enlightened تېرمىنال تەقلىدلىگۈ
Name[uk]=Емулятор терміналу Enlightened
Name[ur]=انلائیٹینڈ ٹرمنل ایمولیٹر
Name[ur_PK]=انلائیٹینڈ ٹرمنل ایمولیٹر
Name[vi]=Trình giả lập dòng lệnh Enlightened
Name[zh_CN]=Enlightened 终端模拟器
Name[zh_HK]=Enlightened 終端機模擬器
Name[zh_TW]=Enlightened 終端機模擬器
StartupNotify=false
X-XFCE-Binaries=Eterm;
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B --exec "%s";
