[Desktop Entry]
Version=1.0
Icon=evolution
Type=X-XFCE-Helper
Name=Evolution
Name[ar]=إيفُليوشن
Name[ast]=Evolution
Name[be]=Evolution
Name[bg]=Evolution
Name[bn]=নভেল ইভোল্যুশন
Name[ca]=Evolution
Name[cs]=Evolution
Name[da]=Evolution
Name[de]=Evolution
Name[el]=Evolution
Name[en_AU]=Evolution
Name[en_GB]=Evolution
Name[es]=Evolution
Name[et]=Evolution
Name[eu]=Evolution
Name[fi]=Evolution
Name[fr]=Evolution
Name[gl]=Evolution
Name[he]=Evolution
Name[hr]=Evolution
Name[hu]=Evolution
Name[id]=Evolution
Name[is]=Evolution
Name[it]=Evolution
Name[ja]=Evolution
Name[kk]=Evolution
Name[ko]=에볼루션
Name[lt]=Evolution
Name[lv]=Evolution
Name[ms]=Evolution
Name[nb]=Evolution
Name[nl]=Evolution
Name[nn]=Evolution
Name[oc]=Evolution
Name[pa]=ਨੋਵਲ ਈਵੂਲੇਸ਼ਨ
Name[pl]=Evolution
Name[pt]=Evolution
Name[pt_BR]=Evolution
Name[ro]=Evolution
Name[ru]=Evolution
Name[sk]=Evolution
Name[sl]=Evolution
Name[sq]=Evolution
Name[sr]=Еволуција
Name[sv]=Evolution
Name[te]=ఎవల్యూషన్
Name[th]=Evolution
Name[tr]=Evolution
Name[ug]=Evolution
Name[uk]=Переглядач пошти Evolution
Name[ur]=نوول ایولوشن
Name[ur_PK]=نوول ایولوشن
Name[vi]=Evolution
Name[zh_CN]=Evolution
Name[zh_HK]=Evolution
Name[zh_TW]=Evolution
StartupNotify=false
X-XFCE-Binaries=evolution-2.4;evolution-2.3;evolution-2.2;evolution-2.0;evolution-1.6;evolution-1.5;evolution-1.4;evolution;
X-XFCE-Category=MailReader
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=/usr/lib/arm-linux-gnueabihf/xfce4/exo-1/exo-compose-mail-1 evolution %B "mailto:%s";
