[Desktop Entry]
Version=1.0
Icon=firefox
Type=X-XFCE-Helper
Name=Mozilla Firefox
Name[ar]=موزيلا فَيَرفُكس
Name[ast]=Mozilla Firefox
Name[be]=Mozilla Firefox
Name[bg]=Mozilla Firefox Интернет браузър
Name[bn]=মজিলা ফায়ারফক্স
Name[ca]=Mozilla Firefox
Name[cs]=Mozilla Firefox
Name[da]=Mozilla Firefox
Name[de]=Mozilla Firefox
Name[el]=Mozilla Firefox
Name[en_AU]=Mozilla Firefox
Name[en_GB]=Mozilla Firefox
Name[es]=Mozilla Firefox
Name[et]=Mozilla Firefox
Name[eu]=Mozilla Firefox
Name[fi]=Mozilla Firefox
Name[fr]=Mozilla Firefox
Name[gl]=Mozilla Firefox
Name[he]=Mozilla Firefox
Name[hr]=Mozilla Firefox
Name[hu]=Mozilla Firefox
Name[id]=Mozilla Firefox
Name[is]=Mozilla Firefox
Name[it]=Mozilla Firefox
Name[ja]=Mozilla Firefox
Name[kk]=Mozilla Firefox
Name[ko]=모질라 파이어폭스
Name[lt]=Mozilla Firefox
Name[lv]=Mozilla Firefox
Name[ms]=Mozilla Firefox
Name[nb]=Mozilla Firefox
Name[nl]=Mozilla Firefox
Name[nn]=Mozilla Firefox
Name[oc]=Mozilla Firefox
Name[pa]=ਮੋਜ਼ੀਲਾ ਫਾਇਰਫਾਕਸ
Name[pl]=Mozilla Firefox
Name[pt]=Mozilla Firefox
Name[pt_BR]=Mozilla Firefox
Name[ro]=Mozilla Firefox
Name[ru]=Mozilla Firefox
Name[sk]=Mozilla Firefox
Name[sl]=Mozilla Firefox
Name[sq]=Mozilla Firefox
Name[sr]=Мозила Фајерфокс
Name[sv]=Mozilla Firefox
Name[te]=మొజిల్లా ఫైర్‌ఫాక్స్
Name[th]=Mozilla Firefox
Name[tr]=Mozilla Firefox
Name[ug]=Mozilla Firefox
Name[uk]=Переглядач Mozilla Firefox
Name[ur]=موزیلا فائر فاکس
Name[ur_PK]=موزیلا فائر فاکس
Name[vi]=Mozilla Firefox
Name[zh_CN]=Mozilla Firefox
Name[zh_HK]=Mozilla Firefox
Name[zh_TW]=Mozilla Firefox
StartupNotify=false
X-XFCE-Binaries=firefox;firefox-gtk2;firefox-gtk;mozilla-firefox;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
