[Desktop Entry]
Version=1.0
Icon=galeon
Type=X-XFCE-Helper
Name=Galeon Web Browser
Name[ar]=Galeon متصفح الوب
Name[ast]=Restolador web Galeon
Name[be]=Гартач Сеціва Galeon
Name[bg]=Galeon Интернет браузър
Name[bn]=গ্যালিওন ওয়েব ব্রাউজার
Name[ca]=Navegador web Galeon
Name[cs]=Webový prohlížeč Galeon
Name[da]=Galeon webbrowser
Name[de]=Galeon
Name[el]=Περιηγητής διαδικτύου Galeon
Name[en_AU]=Galeon Web Browser
Name[en_GB]=Galeon Web Browser
Name[es]=Navegador web Galeon
Name[et]=Galeon veebibrauser
Name[eu]=Galeon web nabigatzailea
Name[fi]=Galeon web-selain
Name[fr]=Navigateur Web Galeon
Name[gl]=Navegador Web Galeon
Name[he]=דפדפן האינטרנט Galeon
Name[hr]=Galeon Web preglednik
Name[hu]=Galeon webböngésző
Name[id]=Peramban Web Galeon
Name[is]=Galeon netvafri
Name[it]=Browser web Galeon
Name[ja]=Galeon ウェブブラウザー
Name[kk]=Galeon веб браузері
Name[ko]=갈레온 웹 브라우저
Name[lt]=Galeon saityno naršyklė
Name[lv]=Galeon tīmekļa pārlūks
Name[ms]=Pelayar Sesawang Galeon
Name[nb]=Galeon nettleser
Name[nl]=Galeon Webbrowser
Name[nn]=Galeon nettlesar
Name[oc]=Navigador Web Galeon
Name[pa]=Galeon ਵੈੱਬ ਬਰਾਊਜ਼ਰ
Name[pl]=Galeon
Name[pt]=Navegador web Galeon
Name[pt_BR]=Navegador web Galeon
Name[ro]=Navigatorul Galeon
Name[ru]=Веб-браузер Galeon
Name[sk]=Galeon internetový prehliadač
Name[sl]=Galeon spletni brskalnik
Name[sq]=Shfletuesi Web Galeon
Name[sr]=Галија веб прегледник
Name[sv]=Webbläsaren Galeon
Name[te]=గేలన్ జాల విహారకం
Name[th]=เว็บเบราว์เซอร์ Galeon
Name[tr]=Galeon Web Browser
Name[ug]=Galeon توركۆرگۈ
Name[uk]=Переглядач Web Galeon
Name[ur]=گیلیئن ویب براؤزر
Name[ur_PK]=گیلیئن ویب براؤزر
Name[vi]=Trình duyệt Galeon
Name[zh_CN]=Galeon 网络浏览器
Name[zh_HK]=Galeon 網頁瀏覽器
Name[zh_TW]=Galeon 網路瀏覽器
StartupNotify=true
X-XFCE-Binaries=galeon;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
