[Desktop Entry]
Version=1.0
Icon=gnome-terminal
Type=X-XFCE-Helper
Name=GNOME Terminal
Name[ar]=طرفية جنوم
Name[ast]=Terminal de GNOME
Name[be]=Тэрмінал GNOME
Name[bg]=GNOME Терминал
Name[bn]=GNOME টার্মিনাল
Name[ca]=Terminal del GNOME
Name[cs]=GNOME Terminál
Name[da]=GNOME Terminal
Name[de]=GNOME-Terminal
Name[el]=Τερματικό GNOME
Name[en_AU]=GNOME Terminal
Name[en_GB]=GNOME Terminal
Name[es]=Terminal de GNOME
Name[et]=GNOME Terminal
Name[eu]=GNOME terminala
Name[fi]=Gnomen pääte
Name[fr]=Terminal GNOME
Name[gl]=Terminal de GNOME
Name[he]=GNOME Terminal
Name[hr]=GNOME terminal
Name[hu]=GNOME terminál
Name[id]=Terminal GNOME
Name[is]=GNOME skjáhermir
Name[it]=Terminale GNOME
Name[ja]=GNOME 端末
Name[kk]=GNOME терминалы
Name[ko]=그놈 터미널
Name[lt]=GNOME terminalas
Name[lv]=GNOME termināls
Name[ms]=Terminal GNOME
Name[nb]=GNOME terminal
Name[nl]=GNOME Terminal
Name[nn]=GNOME terminal
Name[oc]=Terminal GNOME
Name[pa]=GNOME ਟਰਮੀਨਲ
Name[pl]=GNOME Terminal
Name[pt]=Terminal do GNOME
Name[pt_BR]=Terminal do GNOME
Name[ro]=Terminalul GNOME
Name[ru]=Терминал GNOME
Name[sk]=GNOME Terminál
Name[sl]=GNOME terminal
Name[sq]=Terminal Gnome
Name[sr]=Гномов терминал
Name[sv]=GNOME-terminal
Name[te]=గ్నోమ్ టెర్మినల్
Name[th]=เทอร์มินัลของ GNOME
Name[tr]=GNOME Uçbirim
Name[ug]=GNOME تېرمىنالى
Name[uk]=Термінал GNOME
Name[ur]=گنوم ٹرمنل
Name[ur_PK]=گنوم ٹرمنل
Name[vi]=Dòng lệnh của GNOME
Name[zh_CN]=GNOME 终端
Name[zh_HK]=GNOME 終端機
Name[zh_TW]=GNOME 終端機
StartupNotify=true
X-XFCE-Binaries=gnome-terminal;gnometerminal;
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -x %s;
