[Desktop Entry]
Version=1.0
Icon=icecat
Type=X-XFCE-Helper
Name=Icecat
Name[ar]=أيس كات
Name[ast]=Icecat
Name[bg]=Icecat
Name[ca]=Icecat
Name[cs]=Icecat
Name[da]=Icecat
Name[de]=IceCat
Name[el]=Icecat
Name[en_AU]=Icecat
Name[en_GB]=Icecat
Name[es]=Icecat
Name[et]=Icecat
Name[eu]=Icecat
Name[fi]=Icecat
Name[fr]=Icecat
Name[gl]=Icecat
Name[he]=Icecat
Name[hr]=Icecat
Name[hu]=Icecat
Name[id]=Icecat
Name[is]=Icecat
Name[it]=Icecat
Name[ja]=Icecat
Name[kk]=Icecat
Name[ko]=Icecat
Name[lt]=Icecat
Name[ms]=Icecat
Name[nb]=Icecat
Name[nl]=Icecat
Name[nn]=Icecat
Name[oc]=Icecat
Name[pl]=Icecat
Name[pt]=Icecat
Name[pt_BR]=Icecat
Name[ro]=Icecat
Name[ru]=Icecat
Name[sk]=Icecat
Name[sl]=Icecat
Name[sr]=Ледено маче
Name[sv]=Icecat
Name[te]=ఐస్‌క్యాట్
Name[th]=Icecat
Name[tr]=Icecat
Name[ug]=Icecat
Name[uk]=Icecat
Name[vi]=Icecat
Name[zh_CN]=Icecat
Name[zh_HK]=Icecat
Name[zh_TW]=Icecat
StartupNotify=false
X-XFCE-Binaries=icecat;icecat-gtk2;icecat-gtk;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
