[Desktop Entry]
Version=1.0
Icon=iceweasel
Type=X-XFCE-Helper
Name=Iceweasel
Name[ar]=Iceweasel
Name[ast]=Iceweasel
Name[bg]=Iceweasel
Name[ca]=Iceweasel
Name[cs]=Iceweasel
Name[da]=Iceweasel
Name[de]=Iceweasel
Name[el]=Iceweasel
Name[en_AU]=Iceweasel
Name[en_GB]=Iceweasel
Name[es]=Iceweasel
Name[et]=Iceweasel
Name[eu]=Iceweasel
Name[fi]=Iceweasel
Name[fr]=Iceweasel
Name[gl]=Iceweasel
Name[he]=Iceweasel
Name[hr]=Iceweasel
Name[hu]=Iceweasel
Name[id]=Iceweasel
Name[is]=Iceweasel
Name[it]=Iceweasel
Name[ja]=Iceweasel
Name[kk]=Iceweasel
Name[ko]=아이스위즐
Name[lt]=Iceweasel
Name[ms]=Iceweasel
Name[nb]=Iceweasel
Name[nl]=Iceweasel
Name[nn]=Iceweasel
Name[oc]=Iceweasel
Name[pl]=Iceweasel
Name[pt]=Iceweasel
Name[pt_BR]=Iceweasel
Name[ro]=Iceweasel
Name[ru]=Iceweasel
Name[sk]=Iceweasel
Name[sl]=Iceweasel
Name[sr]=Ледена ласица
Name[sv]=Iceweasel
Name[te]=ఐస్‌వీసెల్
Name[th]=Iceweasel
Name[tr]=Iceweasel
Name[ug]=Iceweasel
Name[uk]=Iceweasel
Name[vi]=Iceweasel
Name[zh_CN]=Iceweasel
Name[zh_HK]=Iceweasel
Name[zh_TW]=Iceweasel
StartupNotify=false
X-XFCE-Binaries=iceweasel;iceweasel-gtk2;iceweasel-gtk;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
