[Desktop Entry]
Version=1.0
Icon=jumanji
Type=X-XFCE-Helper
Name=Jumanji
Name[ar]=جومتجي
Name[ast]=Jumanji
Name[bg]=Jumanji
Name[ca]=Jumanji
Name[cs]=Jumanji
Name[da]=Jumanji
Name[de]=Jumanji
Name[el]=Jumanji
Name[en_AU]=Jumanji
Name[en_GB]=Jumanji
Name[es]=Jumanji
Name[et]=Jumanji
Name[eu]=Jumanji
Name[fi]=Jumanji
Name[fr]=Jumanji
Name[gl]=Jumanji
Name[he]=Jumanji
Name[hr]=Jumanji
Name[hu]=Jumanji
Name[id]=Jumanji
Name[is]=Jumanji
Name[it]=Jumanji
Name[ja]=Jumanji
Name[kk]=Jumanji
Name[ko]=Jumanji
Name[lt]=Jumanji
Name[ms]=Jumanji
Name[nb]=Jumanji
Name[nl]=Jumanji
Name[nn]=Jumanji
Name[oc]=Jumanji
Name[pl]=Jumanji
Name[pt]=Jumanji
Name[pt_BR]=Jumanji
Name[ro]=Jumanji
Name[ru]=Jumanji
Name[sk]=Jumanji
Name[sl]=Jumanji
Name[sr]=Џуманџи
Name[sv]=Jumanji
Name[te]=జుమాంజీ
Name[th]=Jumanji
Name[tr]=Jumanji
Name[ug]=Jumanji
Name[uk]=Jumanji
Name[vi]=Jumanji
Name[zh_CN]=Jumanji
Name[zh_HK]=Jumanji
Name[zh_TW]=Jumanji
StartupNotify=true
X-XFCE-Binaries=jumanji;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
