[Desktop Entry]
Version=1.0
Icon=konqueror
Type=X-XFCE-Helper
Name=Konqueror Web Browser
Name[ar]=متصفح الوب كونكيرور
Name[ast]=Restolador web Konqueror
Name[be]=Гартач Сеціва Konqueror
Name[bg]=Konqueror Интернет браузър
Name[bn]=কনকোয়ারার ওয়েব ব্রাউজার
Name[ca]=Navegador web Konqueror
Name[cs]=Webový prohlížeč Konqueror
Name[da]=Konqueror webbrowser
Name[de]=Konqueror
Name[el]=Περιηγητής διαδικτύου Konqueror
Name[en_AU]=Konqueror Web Browser
Name[en_GB]=Konqueror Web Browser
Name[es]=Navegador web Konqueror
Name[et]=Konqueror veebibrauser
Name[eu]=Konqueror web nabigatzailea
Name[fi]=Konqueror web-selain
Name[fr]=Navigateur Web Konqueror
Name[gl]=Navegador Web Konqueror
Name[he]=דפדפן האינטרנט Konqueror
Name[hr]=Konqueror web preglednik
Name[hu]=Konqueror webböngésző
Name[id]=Peramban Web Konqueror
Name[is]=Konqueror netvafri
Name[it]=Browser web Konqueror
Name[ja]=Konqueror ウェブブラウザー
Name[kk]=Konqueror веб браузері
Name[ko]=컹커러 웹 브라우저
Name[lt]=Konqueror saityno naršyklė
Name[lv]=Konqueror tīmekļa pārlūks
Name[ms]=Pelayar Sesawang Konqueror
Name[nb]=Konqueror nettleser
Name[nl]=Konqueror Webbrowser
Name[nn]=Konqueror nettlesar
Name[oc]=Navigador Web Konqueror
Name[pa]=ਕੋਨਕਿਊਰੋਰ ਵੈੱਬ ਬਰਾਊਜ਼ਰ
Name[pl]=Konqueror
Name[pt]=Navegador web Konqueror
Name[pt_BR]=Navegador web Konqueror
Name[ro]=Navigatorul Konqueror
Name[ru]=Веб-браузер Konqueror
Name[sk]=Konqueror internetový prehliadač
Name[sl]=Konqueror spletni brskalnik
Name[sq]=Shfletuesi Web Konqueror
Name[sr]=К‑освајач веб прегледник
Name[sv]=Webbläsaren Konqueror
Name[te]=కాంక్వెరర్ జాల విహారకం
Name[th]=เว็บเบราว์เซอร์ Konqueror
Name[tr]=Konqueror Web Browser
Name[ug]=Konqueror  توركۆرگۈ
Name[uk]=Переглядач Web Konqueror
Name[ur]=کنکرر ویب براؤزر
Name[ur_PK]=کنکرر ویب براؤزر
Name[vi]=Trình duyệt Konqueror
Name[zh_CN]=Konqueror 网络浏览器
Name[zh_HK]=Konqueror 網頁瀏覽器
Name[zh_TW]=Konqueror 網路瀏覽器
StartupNotify=true
X-XFCE-Binaries=konqueror;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
