[Desktop Entry]
Version=1.0
Icon=links
Type=X-XFCE-Helper
Name=Links Text Browser
Name[ar]=Links متصفح النصوص
Name[ast]=Restolador web en mou testu Links
Name[be]=Тэкставы гартач Links
Name[bg]=Links текстов Интернет браузър
Name[bn]=পাঠ্য ব্রাউজার লিঙ্ক করা হয়
Name[ca]=Navegador web de text Links
Name[cs]=Textový prohlížeč Links
Name[da]=Links Text Browser
Name[de]=Links (textbasiert)
Name[el]=Περιηγητής διαδικτύου Links
Name[en_AU]=Links Text Browser
Name[en_GB]=Links Text Browser
Name[es]=Navegador web en modo texto Links
Name[et]=Links tekstibrauser
Name[eu]=Links testu nabigatzailea
Name[fi]=Links-tekstiselain
Name[fr]=Navigateur Web en mode texte Links
Name[gl]=Navegador en modo texto Links
Name[he]=הדפדפן הטקסטואלי Links
Name[hr]=Links tekstualni preglednik
Name[hu]=Links szöveges böngésző
Name[id]=Peramban Teks Links
Name[is]=Links textavafri
Name[it]=Browser testuale Links
Name[ja]=Links テキストブラウザー
Name[kk]=Links мәтіндік браузері
Name[ko]=Links 텍스트 브라우저
Name[lt]=Links Text Browser
Name[lv]=Links teksta pārlūks
Name[ms]=Pelayar Teks Links
Name[nb]=Links tekstnettleser
Name[nl]=Links Tekstbrowser
Name[nn]=Links tekstnettlesar
Name[oc]=Navigador Web en mòde tèxte Links
Name[pa]=Links ਟੈਕਸਟ ਬਰਾਊਜ਼ਰ
Name[pl]=Links
Name[pt]=Navegador de texto Links
Name[pt_BR]=Navegador de texto Links
Name[ro]=Navigatorul text Links
Name[ru]=Текстовый браузер Links
Name[sk]=Links textový prehliadač
Name[sl]=Links besedilni brskalnik
Name[sq]=Shfletues Tekst Links
Name[sr]=Линкс прегледач текста
Name[sv]=Textwebbläsaren Links
Name[te]=లింక్స్ పాఠ్య విహారకం
Name[th]=เบราว์เซอร์โหมดข้อความ Links
Name[tr]=Links Text Browser
Name[ug]=ئۇلانما  تېكىست كۆرگۈ
Name[uk]=Переглядач Links текстовий
Name[ur]=روابط متن براؤزر
Name[ur_PK]=روابط متن براؤزر
Name[vi]=Trình duyệt văn bản Links
Name[zh_CN]=Links 文本浏览器
Name[zh_HK]=Links 文字瀏覽器
Name[zh_TW]=Links 文字瀏覽器
StartupNotify=false
X-XFCE-Binaries=links;links-current;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=exo-open --launch TerminalEmulator %B;
X-XFCE-CommandsWithParameter=exo-open --launch TerminalEmulator %B "%s";
