[Desktop Entry]
Version=1.0
Icon=aterm
Type=X-XFCE-Helper
Name=Lynx Text Browser
Name[ar]=Lynx متصفح النصوص
Name[ast]=Restolador web en mou testu Lynx
Name[be]=Тэкставы гартач Lynx
Name[bg]=Lynx текстов Интернет браузър
Name[bn]=Lynx পাঠ্য ব্রাউজার
Name[ca]=Navegador web de text Lynx
Name[cs]=Textový prohlížeč Lynx
Name[da]=Lynx Text Browser
Name[de]=Lynx (textbasiert)
Name[el]=Περιηγητής διαδικτύου Lynx
Name[en_AU]=Lynx Text Browser
Name[en_GB]=Lynx Text Browser
Name[es]=Navegador web en modo texto Lynx
Name[et]=Lynx tekstibrauser
Name[eu]=Lynx testu nabigatzailea
Name[fi]=Lynx-tekstiselain
Name[fr]=Navigateur Web en mode texte Lynx
Name[gl]=Navegador en modo texto Lynx
Name[he]=הדפדפן הטקסטואלי Lynx
Name[hr]=Lynx tekstualni preglednik
Name[hu]=Lynx szöveges böngésző
Name[id]=Peramban Teks Lynx
Name[is]=Lynx textavafri
Name[it]=Browser testuale Lynx
Name[ja]=Lynx テキストブラウザー
Name[kk]=Lynx мәтіндік браузері
Name[ko]=Lynx 텍스트 브라우저
Name[lt]=Lynx Text Browser
Name[lv]=Lynx teksta pārlūks
Name[ms]=Pelayar Teks Lynx
Name[nb]=Lynx tekstnettleser
Name[nl]=Lynx Tekstbrowser
Name[nn]=Lynx tekstnettlesar
Name[oc]=Navigador Web en mòde tèxte Lynx
Name[pa]=Lynx ਟੈਕਸਟ ਬਰਾਊਜ਼ਰ
Name[pl]=Lynx
Name[pt]=Navegador de texto Lynx
Name[pt_BR]=Navegador de texto Lynx
Name[ro]=Navigatorul text Lynx
Name[ru]=Текстовый браузер Lynx
Name[sk]=Lynx textový prehliadač
Name[sl]=Lynx besedilni brskalnik
Name[sq]=Shfletues Tekst Lynx
Name[sr]=Линкс прегледач текста
Name[sv]=Textwebbläsaren Lynx
Name[te]=లిన్క్స్ పాఠ్య విహారకం
Name[th]=เบราว์เซอร์โหมดข้อความ Lynx
Name[tr]=Lynx Text Browser
Name[ug]=Lynx تېكىست كۆرگۈ
Name[uk]=Переглядач Lynx текстовий
Name[ur]=Lynx متن براؤزر
Name[ur_PK]=Lynx متن براؤزر
Name[vi]=Trình duyệt văn bản Lynx
Name[zh_CN]=Lynx 文本浏览器
Name[zh_HK]=Lynx 文字瀏覽器
Name[zh_TW]=Lynx 文字瀏覽器
StartupNotify=false
X-XFCE-Binaries=lynx;lynx-current;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=exo-open --launch TerminalEmulator %B;
X-XFCE-CommandsWithParameter=exo-open --launch TerminalEmulator %B "%s";
