
[Desktop Entry]
Version=1.0
Icon=midori
Type=X-XFCE-Helper
Name=Midori
Name[ar]=ميدوري
Name[ast]=Midori
Name[bg]=Мидори
Name[bn]=মিডরি
Name[ca]=Midori
Name[cs]=Midori
Name[da]=Midori
Name[de]=Midori
Name[el]=Midori
Name[en_AU]=Midori
Name[en_GB]=Midori
Name[es]=Midori
Name[et]=Midori
Name[eu]=Midori
Name[fi]=Midori
Name[fr]=Midori
Name[gl]=Midori
Name[he]=Midori
Name[hr]=Midori
Name[hu]=Midori
Name[id]=Midori
Name[is]=Midori
Name[it]=Midori
Name[ja]=Midori
Name[kk]=Midori
Name[ko]=미도리
Name[lt]=Midori
Name[lv]=Midori
Name[ms]=Midori
Name[nb]=Midori
Name[nl]=Midori
Name[nn]=Midori
Name[oc]=Midori
Name[pa]=Midori
Name[pl]=Midori
Name[pt]=Midori
Name[pt_BR]=Midori
Name[ro]=Midori
Name[ru]=Midori
Name[sk]=Midori
Name[sl]=Midori
Name[sr]=Мидори
Name[sv]=Midori
Name[te]=మిడోరి
Name[th]=Midori
Name[tr]=Midori
Name[ug]=مىدورى(Midori)
Name[uk]=Мідорі
Name[ur]=میڈوری
Name[ur_PK]=میڈوری
Name[vi]=Midori
Name[zh_CN]=Midori 浏览器
Name[zh_HK]=Midori
Name[zh_TW]=Midori
StartupNotify=true
X-XFCE-Binaries=midori;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
