[Desktop Entry]
Version=1.0
Icon=mozilla
Type=X-XFCE-Helper
Name=Mozilla Mail
Name[ar]=بريد الإلكتوني لموزيلا
Name[ast]=Corréu Mozilla
Name[be]=Паштовы кліент Mozilla
Name[bg]=Мозила Поща
Name[bn]=মজিলা মেইল
Name[ca]=Correu de Mozilla
Name[cs]=Mozilla Mail
Name[da]=Mozilla Mail
Name[de]=Mozilla Mail
Name[el]=Mozilla Mail
Name[en_AU]=Mozilla Mail
Name[en_GB]=Mozilla Mail
Name[es]=Correo Mozilla
Name[et]=Mozilla e-post
Name[eu]=Mozilla posta
Name[fi]=Mozillan sähköposti
Name[fr]=Mail Mozilla
Name[gl]=Mozilla Mail
Name[he]=Mozilla Mail
Name[hr]=Mozilla pošta
Name[hu]=Mozilla levelező
Name[id]=Surat Mozilla
Name[is]=Mozilla Mail
Name[it]=Mozilla Mail
Name[ja]=Mozilla Mail
Name[kk]=Mozilla Mail
Name[ko]=모질라 메일
Name[lt]=Mozilla paštas
Name[lv]=Mozilla Mail
Name[ms]=Mel Mozilla
Name[nb]=Mozilla Mail
Name[nl]=Mozilla Mail
Name[nn]=Mozilla Mail
Name[oc]=Mail Mozilla
Name[pa]=ਮੋਜ਼ੀਲਾ ਮੇਲ
Name[pl]=Mozilla Mail
Name[pt]=Mozilla Mail
Name[pt_BR]=Cliente de e-mail Mozilla
Name[ro]=Mozilla Mail
Name[ru]=Почта Mozilla
Name[sk]=Mozilla Mail
Name[sl]=Mozillina pošta
Name[sq]=Posta Mozilla
Name[sr]=Мозилина пошта
Name[sv]=Mozilla e-post
Name[te]=మొజిల్లా మెయిల్
Name[th]=Mozilla Mail
Name[tr]=Mozilla Mail
Name[ug]=Mozilla ئېلخەت
Name[uk]=Переглядач пошти Mozilla Mail
Name[ur]=موزیلا میل
Name[ur_PK]=موزیلا میل
Name[vi]=Thư điện tử Mozilla
Name[zh_CN]=Mozilla 邮件
Name[zh_HK]=Mozilla 郵件
Name[zh_TW]=Mozilla 郵件
StartupNotify=false
X-XFCE-Binaries=mozilla;mozilla-gtk2;mozilla-gtk;
X-XFCE-Category=MailReader
X-XFCE-Commands=%B -mail;
X-XFCE-CommandsWithParameter=/usr/lib/arm-linux-gnueabihf/xfce4/exo-1/exo-compose-mail-1 mozilla-remote %B "mailto:%s";/usr/lib/arm-linux-gnueabihf/xfce4/exo-1/exo-compose-mail-1 mozilla %B "mailto:%s";
