[Desktop Entry]
Version=1.0
Icon=mutt
Type=X-XFCE-Helper
Name=Muttng
Name[ar]=Muttng
Name[ast]=Muttng
Name[be]=Muttng
Name[bg]=Muttng
Name[bn]=মাট
Name[ca]=Muttng
Name[cs]=Muttng
Name[da]=Muttng
Name[de]=Muttng
Name[el]=Muttng
Name[en_AU]=Muttng
Name[en_GB]=Muttng
Name[es]=Muttng
Name[et]=Muttng
Name[eu]=Muttng
Name[fi]=Muttng
Name[fr]=Muttng
Name[gl]=Muttng
Name[he]=Muttng
Name[hr]=Muttng
Name[hu]=Muttng
Name[id]=Muttng
Name[is]=Muttng
Name[it]=Muttng
Name[ja]=Muttng
Name[kk]=Muttng
Name[ko]=Muttng
Name[lt]=Muttng
Name[lv]=Muttng
Name[ms]=Muttng
Name[nb]=Muttng
Name[nl]=Muttng
Name[nn]=Muttng
Name[oc]=Muttng
Name[pa]=ਮੱਟ
Name[pl]=Muttng
Name[pt]=Muttng
Name[pt_BR]=Muttng
Name[ro]=Muttng
Name[ru]=Muttng
Name[sk]=Muttng
Name[sl]=Muttng
Name[sq]=Muttng
Name[sr]=Мут
Name[sv]=Muttng
Name[te]=మట్ట్
Name[th]=Muttng
Name[tr]=Muttng
Name[ug]=Muttng
Name[uk]=Переглядач пошти Muttng
Name[ur]=مُٹ
Name[ur_PK]=مُٹ
Name[vi]=Muttng
Name[zh_CN]=Muttng
Name[zh_HK]=Muttng
Name[zh_TW]=Muttng
StartupNotify=false
X-XFCE-Binaries=muttng;
X-XFCE-Category=MailReader
X-XFCE-Commands=exo-open --launch TerminalEmulator %B;
X-XFCE-CommandsWithParameter=exo-open --launch TerminalEmulator /usr/lib/arm-linux-gnueabihf/xfce4/exo-1/exo-compose-mail-1 muttng %B "mailto:%s";
