
[Desktop Entry]
Version=1.0
Icon=nautilus
Type=X-XFCE-Helper
Name=Nautilus
Name[ar]=ناوتلس
Name[ast]=Nautilus
Name[bg]=Nautilus
Name[bn]=নটিলাস
Name[ca]=Nautilus
Name[cs]=Nautilus
Name[da]=Nautilus
Name[de]=Nautilus
Name[el]=Nautilus
Name[en_AU]=Nautilus
Name[en_GB]=Nautilus
Name[es]=Nautilus
Name[et]=Nautilus
Name[eu]=Nautilus
Name[fi]=Nautilus
Name[fr]=Nautilus
Name[gl]=Nautilus
Name[he]=Nautilus
Name[hr]=Nautilus
Name[hu]=Nautilus
Name[id]=Nautilus
Name[is]=Nautilus
Name[it]=Nautilus
Name[ja]=Nautilus
Name[kk]=Nautilus
Name[ko]=노틸러스
Name[lt]=Nautilus
Name[lv]=Nautilus
Name[ms]=Nautilus
Name[nb]=Nautilus
Name[nl]=Nautilus
Name[nn]=Nautilus
Name[oc]=Nautilus
Name[pa]=ਨਟੀਲਸ
Name[pl]=Nautilus
Name[pt]=Nautilus
Name[pt_BR]=Nautilus
Name[ro]=Nautilus
Name[ru]=Nautilus
Name[sk]=Nautilus
Name[sl]=Nautilus
Name[sr]=Наутилус
Name[sv]=Nautilus
Name[te]=నాటిలస్
Name[th]=Nautilus
Name[tr]=Nautilus
Name[ug]=Nautilus
Name[uk]=Файловий менеджер Nautilus
Name[vi]=Nautilus
Name[zh_CN]=Nautilus
Name[zh_HK]=Nautilus
Name[zh_TW]=Nautilus
StartupNotify=true
X-XFCE-Binaries=nautilus;
X-XFCE-Category=FileManager
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
