[Desktop Entry]
Version=1.0
Icon=mozilla
Type=X-XFCE-Helper
Name=Netscape Navigator
Name[ar]=Netscape متصفح
Name[ast]=Netscape Navigator
Name[be]=Netscape Navigator
Name[bg]=Нетскейп Навигатор
Name[bn]=নেটস্কেপ নেভিগেটর
Name[ca]=Navegador Netscape
Name[cs]=Netscape Navigator
Name[da]=Netscape Navigator
Name[de]=Netscape Navigator
Name[el]=Netscape Navigator
Name[en_AU]=Netscape Navigator
Name[en_GB]=Netscape Navigator
Name[es]=Navegador Netscape
Name[et]=Netscape Navigator
Name[eu]=Netscape Navigator
Name[fi]=Netscape Navigator
Name[fr]=Netscape Navigator
Name[gl]=Netscape Navigator
Name[he]=Netscape Navigator
Name[hr]=Netscape Navigator
Name[hu]=Netscape Navigator
Name[id]=Netscape Navigator
Name[is]=Netscape Navigator
Name[it]=Netscape Navigator
Name[ja]=Netscape Navigator
Name[kk]=Netscape Navigator
Name[ko]=넷스케이프 네비게이터
Name[lt]=Netscape Navigator
Name[lv]=Netscape Navigator
Name[ms]=Netscape Navigator
Name[nb]=Netscape Navigator
Name[nl]=Netscape Navigator
Name[nn]=Netscape Navigator
Name[oc]=Netscape Navigator
Name[pa]=Netscape Navigator
Name[pl]=Netscape Navigator
Name[pt]=Navegador Netscape
Name[pt_BR]=Navegador Netscape
Name[ro]=Navigatorul Netscape
Name[ru]=Netscape Navigator
Name[sk]=Netscape Navigator
Name[sl]=Netscape Navigator
Name[sq]=Netscape Navigator
Name[sr]=Нетскејп навигатор
Name[sv]=Netscape Navigator
Name[te]=నెట్‌స్కేప్ దిశానిర్దేశకం
Name[th]=Netscape Navigator
Name[tr]=Netscape Navigator
Name[ug]=Netscape Navigator
Name[uk]=Переглядач Netscape Navigator
Name[ur]=نیٹ سکیپ نیویگیٹر
Name[ur_PK]=نیٹ سکیپ نیویگیٹر
Name[vi]=Trình duyệt Netscape
Name[zh_CN]=Netscape Navigator
Name[zh_HK]=Netscape 領航員
Name[zh_TW]=Netscape 領航員
StartupNotify=false
X-XFCE-Binaries=netscape;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B -remote "openURL(about:blank,new-window)";%B;
X-XFCE-CommandsWithParameter=%B -remote "openURL(%s,new-window)";%B "%s";
