[Desktop Entry]
Version=1.0
Icon=nxterm
Type=X-XFCE-Helper
Name=NXterm
Name[ar]=NXterm
Name[ast]=NXterm
Name[be]=NXterm
Name[bg]=NXterm Терминал
Name[bn]=NXterm
Name[ca]=NXterm
Name[cs]=NXterm
Name[da]=NXterm
Name[de]=NXterm
Name[el]=NXterm
Name[en_AU]=NXterm
Name[en_GB]=NXterm
Name[es]=NXterm
Name[et]=NXterm
Name[eu]=NXterm
Name[fi]=NXterm
Name[fr]=NXterm
Name[gl]=NXterm
Name[he]=NXterm
Name[hr]=NXterm
Name[hu]=NXterm
Name[id]=NXterm
Name[is]=NXterm
Name[it]=NXterm
Name[ja]=NXterm
Name[kk]=NXterm
Name[ko]=NXTerm
Name[lt]=NXterm
Name[lv]=NXterm
Name[ms]=NXterm
Name[nb]=NXterm
Name[nl]=NXTerm
Name[nn]=NXterm
Name[oc]=NXterm
Name[pa]=NXterm
Name[pl]=NXterm
Name[pt]=NXTerm
Name[pt_BR]=NXTerm
Name[ro]=NXterm
Name[ru]=NXterm
Name[sk]=NXterm
Name[sl]=NXterm
Name[sq]=NXterm
Name[sr]=Еникс терминал
Name[sv]=NXterm
Name[te]=ఎన్‌ఎక్స్‌టెర్మ్
Name[th]=NXterm
Name[tr]=NXterm
Name[ug]=NXterm
Name[uk]=Термінал NXterm
Name[ur]=نیکسٹرم
Name[ur_PK]=نیکسٹرم
Name[vi]=NXterm
Name[zh_CN]=NXterm
Name[zh_HK]=NXterm
Name[zh_TW]=NXterm
StartupNotify=false
X-XFCE-Binaries=nxterm;
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -e %s;
