[Desktop Entry]
Version=1.0
Icon=opera
Type=X-XFCE-Helper
Name=Opera Browser
Name[ar]=متصفح أوبيرا
Name[ast]=Restolador web Opera
Name[be]=Гартач Сеціва Opera
Name[bg]=Опера Интернет браузър
Name[bn]=অপেরা ব্রাউজার
Name[ca]=Navegador Opera
Name[cs]=Opera
Name[da]=Opera Browser
Name[de]=Opera
Name[el]=Περιηγητής ιστοσελίδων Opera
Name[en_AU]=Opera Browser
Name[en_GB]=Opera Browser
Name[es]=Navegador web Opera
Name[et]=Opera brauser
Name[eu]=Opera nabigatzailea
Name[fi]=Opera-selain
Name[fr]=Navigateur Opera
Name[gl]=Navegador Opera
Name[he]=Opera Browser
Name[hr]=Opera preglednik
Name[hu]=Opera webböngésző
Name[id]=Peramban Opera
Name[is]=Opera netvafri
Name[it]=Opera Browser
Name[ja]=Opera ブラウザー
Name[kk]=Opera Browser
Name[ko]=Opera 브라우저
Name[lt]=Opera naršyklė
Name[lv]=Opera Browser
Name[ms]=Pelayar Opera
Name[nb]=Opera nettleser
Name[nl]=Opera Browser
Name[nn]=Opera nettlesar
Name[oc]=Navigador Opera
Name[pa]=ਓਪੇਰਾ ਬਰਾਊਜ਼ਰ
Name[pl]=Opera
Name[pt]=Navegador Opera
Name[pt_BR]=Navegador Opera
Name[ro]=Navigatorul Opera
Name[ru]=Браузер Opera
Name[sk]=Opera
Name[sl]=Opera brskalnik
Name[sq]=Shfletuesi Opera
Name[sr]=Опера прегледник
Name[sv]=Webbläsaren Opera
Name[te]=ఒపెరా విహారకం
Name[th]=เบราว์เซอร์ Opera
Name[tr]=Opera Browser
Name[ug]=Opera توركۆرگۈ
Name[uk]=Переглядач Opera
Name[ur]=اوپرا براؤزر
Name[ur_PK]=اوپرا براؤزر
Name[vi]=Trình duyệt Opera
Name[zh_CN]=Opera 浏览器
Name[zh_HK]=Opera 瀏覽器
Name[zh_TW]=Opera 瀏覽器
StartupNotify=false
X-XFCE-Binaries=opera;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
