[Desktop Entry]
Version=1.0
Icon=utilities-terminal
Type=X-XFCE-Helper
Name=QTerminal
Name[ast]=QTerminal
Name[bg]=QTerminal
Name[cs]=QTerminal
Name[da]=QTerminal
Name[de]=QTerminal
Name[el]=QTerminal
Name[en_AU]=QTerminal
Name[es]=QTerminal
Name[eu]=QTerminal
Name[fi]=QTerminal
Name[fr]=QTerminal
Name[hr]=QTerminal
Name[id]=QTerminal
Name[it]=QTerminal
Name[ja]=QTerminal
Name[kk]=QTerminal
Name[ko]=QTerminal
Name[lt]=QTerminal
Name[ms]=QTerminal
Name[nb]=QTerminal
Name[nl]=QTerminal
Name[nn]=QTerminal
Name[pl]=QTerminal
Name[pt]=QTerminal
Name[pt_BR]=QTerminal
Name[ro]=QTerminal
Name[ru]=QTerminal
Name[sk]=QTerminal
Name[sr]=Ку терминал
Name[sv]=QTerminal
Name[th]=QTerminal
Name[tr]=QTerminali
Name[uk]=QTerminal
Name[zh_CN]=QTerminal
StartupNotify=false
X-XFCE-Binaries=qterminal;
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -e %s;
