[Desktop Entry]
Version=1.0
Icon=qtfm
Type=X-XFCE-Helper
Name=qtFM
Name[ast]=qtFM
Name[bg]=qtFM
Name[cs]=qtFM
Name[da]=qtFM
Name[de]=qtFM
Name[el]=qtFM
Name[en_AU]=qtFM
Name[es]=qtFM
Name[eu]=qtFM
Name[fi]=qtFM
Name[fr]=qtFM
Name[hr]=qtFM
Name[id]=qtFM
Name[it]=qtFM
Name[ja]=qtFM
Name[kk]=qtFM
Name[ko]=qtFM
Name[lt]=qtFM
Name[ms]=qtFM
Name[nb]=qtFM
Name[nl]=qtFM
Name[nn]=qtFM
Name[pl]=qtFM
Name[pt]=qtFM
Name[pt_BR]=qtFM
Name[ro]=qtFM
Name[ru]=qtFM
Name[sk]=qtFM
Name[sr]=Кутфм
Name[sv]=qtFM
Name[th]=qtFM
Name[tr]=qtFM
Name[uk]=qtFM
Name[zh_CN]=qtFM
StartupNotify=true
X-XFCE-Binaries=qtfm;
X-XFCE-Category=FileManager
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
