[Desktop Entry]
Version=1.0
Icon=folder
Type=X-XFCE-Helper
Name=Rodent File Manager
Name[ar]=مدير الملفات Rodent
Name[ast]=Xestor de ficheros Rodent
Name[bg]=Rodent файлов мениджър
Name[ca]=Gestor de fitxers Rodent
Name[cs]=Správce souborů Rodent
Name[da]=Filhåndteringen Rodent
Name[de]=Rodent-Dateiverwaltung
Name[el]=Διαχειριστής αρχείων Rodent
Name[en_AU]=Rodent File Manager
Name[en_GB]=Rodent File Manager
Name[es]=Administrador de archivos Rodent
Name[et]=Rodent failihaldur
Name[eu]=Rodent fitxategi kudeatzailea
Name[fi]=Rodent-tiedostonhallinta
Name[fr]=Gestionnaire de fichiers Rodent
Name[gl]=Xestor de ficheiros Rodent
Name[he]=מנהל הקבצים Rodent
Name[hr]=Rodent upravitelj datotekama
Name[hu]=Rodent fájlkezelő
Name[id]=Manajer Berkas Rodent
Name[is]=Rodent skráastjóri
Name[it]=Gestore dei file Rodent
Name[ja]=Rodent File Manager
Name[kk]=Rodent файлдар басқарушысы
Name[ko]=Rodent 파일 관리자
Name[lt]=Rodent Failų Tvarkytuvė
Name[ms]=Pengurus Fail Rodent
Name[nb]=Rodent Filbehandler
Name[nl]=Rodent bestandbeheerder
Name[nn]=Rodent filhandsamar
Name[oc]=Gestionari de fichièrs Rodent
Name[pl]=Menedżer plików Rodent
Name[pt]=Gestor de ficheiros Rodent
Name[pt_BR]=Gerenciador de arquivos Rodent
Name[ro]=Managerul de fișiere Rodent
Name[ru]=Файловый менеджер Rodent
Name[sk]=Správca súborov Rodent
Name[sl]=Rodent brskalnik datotek
Name[sr]=Управник датотека Родент
Name[sv]=Filhanteraren Rodent
Name[te]=రోడెంట్ దస్త్ర నిర్వాహకం
Name[th]=โปรแกรมจัดการแฟ้ม Rodent
Name[tr]=Rodent Dosya Yöneticisi
Name[ug]=Rodent  ھۆججەت باشقۇرغۇ
Name[uk]=Файловий менеджер Rodent
Name[vi]=Trình quản lý tệp tin Rodent
Name[zh_CN]=Rodent 文件管理器
Name[zh_HK]=Rodent 檔案管理員
Name[zh_TW]=Rodent 檔案管理員
StartupNotify=true
X-XFCE-Binaries=rodent-forked;
X-XFCE-Category=FileManager
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
