[Desktop Entry]
Version=1.0
Icon=/usr/libexec/ROX-Filer/.DirIcon
Type=X-XFCE-Helper
Name=ROX-Filer
Name[ar]=مرشح ROX
Name[ast]=ROX-Filer
Name[bg]=ROX-Filer
Name[ca]=ROX-Filer
Name[cs]=ROX-Filer
Name[da]=ROX-Filer
Name[de]=ROX-Filer
Name[el]=ROX-Filer
Name[en_AU]=ROX-Filer
Name[en_GB]=ROX-Filer
Name[es]=ROX-Filer
Name[et]=ROX-Filer
Name[eu]=ROX-Filer
Name[fi]=ROX-Filer
Name[fr]=ROX-Filer
Name[gl]=ROX-Filer
Name[he]=ROX-Filer
Name[hr]=ROX-Filer
Name[hu]=ROX-Filer
Name[id]=ROX-Filer
Name[is]=ROX-Filer
Name[it]=ROX-Filer
Name[ja]=ROX-Filer
Name[kk]=ROX-Filer
Name[ko]=ROX-Filer
Name[lt]=ROX-Filer
Name[ms]=ROX-Filer
Name[nb]=ROX-Filer
Name[nl]=ROX-Filer
Name[nn]=ROX-filer
Name[oc]=ROX-Filer
Name[pl]=ROX-Filer
Name[pt]=ROX-Filer
Name[pt_BR]=ROX-Filer
Name[ro]=ROX-Filer
Name[ru]=ROX-Filer
Name[sk]=ROX-Filer
Name[sl]=ROX-Filer
Name[sr]=РОКС-Фајлер
Name[sv]=ROX-Filer
Name[th]=ROX-Filer
Name[tr]=ROX-Filer
Name[ug]=ROX-Filer
Name[uk]=ROX-Filer
Name[vi]=ROX-Filer
Name[zh_CN]=ROX-Filer
Name[zh_HK]=ROX-Filer
Name[zh_TW]=ROX-Filer
StartupNotify=true
X-XFCE-Binaries=rox;
X-XFCE-Category=FileManager
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
