[Desktop Entry]
Version=1.0
Icon=terminal-tango
Type=X-XFCE-Helper
Name=Sakura
Name[ar]=ساكورا
Name[ast]=Sakura
Name[bg]=Sakura
Name[ca]=Sakura
Name[cs]=Sakura
Name[da]=Sakura
Name[de]=Sakura
Name[el]=Sakura
Name[en_AU]=Sakura
Name[en_GB]=Sakura
Name[es]=Sakura
Name[et]=Sakura
Name[eu]=Sakura
Name[fi]=Sakura
Name[fr]=Sakura
Name[gl]=Sakura
Name[he]=Sakura
Name[hr]=Sakura
Name[hu]=Sakura
Name[id]=Sakura
Name[is]=Sakura
Name[it]=Sakura
Name[ja]=Sakura
Name[kk]=Sakura
Name[ko]=Sakura
Name[lt]=Sakura
Name[ms]=Sakura
Name[nb]=Sakura
Name[nl]=Sakura
Name[nn]=Sakura
Name[oc]=Sakura
Name[pl]=Sakura
Name[pt]=Sakura
Name[pt_BR]=Sakura
Name[ro]=Sakura
Name[ru]=Sakura
Name[sk]=Sakura
Name[sl]=Sakura
Name[sr]=Сакура
Name[sv]=Sakura
Name[te]=సకురా
Name[th]=Sakura
Name[tr]=Sakura
Name[ug]=Sakura
Name[uk]=Sakura
Name[vi]=Sakura
Name[zh_CN]=Sakura
Name[zh_HK]=Sakura
Name[zh_TW]=Sakura
StartupNotify=false
X-XFCE-Binaries=sakura;
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -x "%s";
