[Desktop Entry]
Version=1.0
Icon=surf
Type=X-XFCE-Helper
Name=Surf
Name[ast]=Surf
Name[bg]=Surf
Name[cs]=Surf
Name[da]=Surf
Name[de]=Surf
Name[en_AU]=Surf
Name[es]=Surf
Name[eu]=Surf
Name[fi]=Surf
Name[fr]=Surf
Name[hr]=Surf
Name[id]=Surf
Name[it]=Surf
Name[ja]=Surf
Name[kk]=Surf
Name[ko]=Surf
Name[lt]=Surf
Name[ms]=Surf
Name[nb]=Surf
Name[nl]=Surf
Name[nn]=Surf
Name[pl]=Surf
Name[pt]=Surf
Name[pt_BR]=Surf
Name[ro]=Surf
Name[ru]=Surf
Name[sk]=Surf
Name[sr]=Једрење
Name[sv]=Surf
Name[th]=Surf
Name[tr]=Surf
Name[uk]=Surf
Name[zh_CN]=Surf
StartupNotify=true
X-XFCE-Binaries=surf;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
