[Desktop Entry]
Version=1.0
Icon=sylpheed
Type=X-XFCE-Helper
Name=Sylpheed
Name[ar]=Sylpheed
Name[ast]=Sylpheed
Name[be]=Sylpheed
Name[bg]=Sylpheed
Name[bn]=Sylpheed
Name[ca]=Sylpheed
Name[cs]=Sylpheed
Name[da]=Sylpheed
Name[de]=Sylpheed
Name[el]=Sylpheed
Name[en_AU]=Sylpheed
Name[en_GB]=Sylpheed
Name[es]=Sylpheed
Name[et]=Sylpheed
Name[eu]=Sylpheed
Name[fi]=Sylpheed
Name[fr]=Sylpheed
Name[gl]=Sylpheed
Name[he]=Sylpheed
Name[hr]=Sylpheed
Name[hu]=Sylpheed
Name[id]=Sylpheed
Name[is]=Sylpheed
Name[it]=Sylpheed
Name[ja]=Sylpheed
Name[kk]=Sylpheed
Name[ko]=Sylpheed
Name[lt]=Sylpheed
Name[lv]=Sylpheed
Name[ms]=Sylpheed
Name[nb]=Sylpheed
Name[nl]=Sylpheed
Name[nn]=Sylpheed
Name[oc]=Sylpheed
Name[pa]=Sylpheed
Name[pl]=Sylpheed
Name[pt]=Sylpheed
Name[pt_BR]=Sylpheed
Name[ro]=Sylpheed
Name[ru]=Sylpheed
Name[sk]=Sylpheed
Name[sl]=Sylpheed
Name[sq]=Sylpheed
Name[sr]=Силфид
Name[sv]=Sylpheed
Name[te]=సిల్ఫీడ్
Name[th]=Sylpheed
Name[tr]=Sylpheed
Name[ug]=Sylpheed
Name[uk]=Переглядач пошти Sylpheed
Name[ur]=سیلفیڈ
Name[ur_PK]=سیلفیڈ
Name[vi]=Sylpheed
Name[zh_CN]=Sylpheed
Name[zh_HK]=Sylpheed
Name[zh_TW]=Sylpheed
StartupNotify=true
X-XFCE-Binaries=sylpheed;
X-XFCE-Category=MailReader
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=/usr/lib/arm-linux-gnueabihf/xfce4/exo-1/exo-compose-mail-1 sylpheed %B "mailto:%s";
