[Desktop Entry]
Version=1.0
Icon=claws-mail
Type=X-XFCE-Helper
Name=Claws Mail
Name[ar]=Claws Mail
Name[ast]=Claws Mail
Name[be]=Паштовы кліент Claws
Name[bg]=Claws Поща
Name[bn]=ক্লস মেইল
Name[ca]=Claws
Name[cs]=Claws Mail
Name[da]=Claws Mail
Name[de]=Claws Mail
Name[el]=Claws Mail
Name[en_AU]=Claws Mail
Name[en_GB]=Claws Mail
Name[es]=Claws Mail
Name[et]=Claws e-post
Name[eu]=Claws posta
Name[fi]=Claws-sähköposti
Name[fr]=Mail Claws
Name[gl]=Claws Mail
Name[he]=Claws Mail
Name[hr]=Claws pošta
Name[hu]=Claws levelező
Name[id]=Surat Claws
Name[is]=Claws Mail
Name[it]=Claws Mail
Name[ja]=Claws Mail
Name[kk]=Claws Mail
Name[ko]=Claws 메일
Name[lt]=Claws Mail
Name[lv]=Claws Mail
Name[ms]=Mel Claws
Name[nb]=Claws Epost
Name[nl]=Claws Mail
Name[nn]=Claws Epost
Name[oc]=Mail Claws
Name[pa]=ਕਲਾਵਸ ਮੇਲ
Name[pl]=Claws Mail
Name[pt]=Claws Mail
Name[pt_BR]=Cliente de e-mail Claws
Name[ro]=Claws Mail
Name[ru]=Почта Claws
Name[sk]=Claws Mail
Name[sl]=Claws Mail
Name[sq]=Posta Claws
Name[sr]=Клавс пошта
Name[sv]=Claws Mail
Name[te]=క్లాస్ మెయిల్
Name[th]=Claws Mail
Name[tr]=Claws Mail
Name[ug]=Claws ئېلخەت
Name[uk]=Переглядач пошти Claws Mail
Name[ur]=کلاؤز میل
Name[ur_PK]=کلاؤز میل
Name[vi]=Thư điện tử Claws
Name[zh_CN]=Claws 邮件
Name[zh_HK]=Claws 郵件
Name[zh_TW]=Claws 郵件
StartupNotify=true
X-XFCE-Binaries=claws-mail;sylpheed-claws-gtk2;sylpheed-claws
X-XFCE-Category=MailReader
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=/usr/lib/arm-linux-gnueabihf/xfce4/exo-1/exo-compose-mail-1 sylpheed %B "mailto:%s";
