
[Desktop Entry]
Version=1.0
Icon=Thunar
Type=X-XFCE-Helper
Name=Thunar
Name[ar]=تونار
Name[ast]=Thunar
Name[bg]=Thunar
Name[bn]=থানার
Name[ca]=Thunar
Name[cs]=Thunar
Name[da]=Thunar
Name[de]=Thunar
Name[el]=Thunar
Name[en_AU]=Thunar
Name[en_GB]=Thunar
Name[es]=Thunar
Name[et]=Thunar
Name[eu]=Thunar
Name[fi]=Thunar
Name[fr]=Thunar
Name[gl]=Thunar
Name[he]=Thunar
Name[hr]=Thunar
Name[hu]=Thunar
Name[id]=Thunar
Name[is]=Thunar
Name[it]=Thunar
Name[ja]=Thunar
Name[kk]=Thunar
Name[ko]=투나
Name[lt]=Thunar
Name[lv]=Thunar
Name[ms]=Thunar
Name[nb]=Thunar
Name[nl]=Thunar
Name[nn]=Thunar
Name[oc]=Thunar
Name[pa]=ਥੰਨਰ
Name[pl]=Thunar
Name[pt]=Thunar
Name[pt_BR]=Thunar
Name[ro]=Thunar
Name[ru]=Thunar
Name[sk]=Thunar
Name[sl]=Thunar
Name[sr]=Тунар
Name[sv]=Thunar
Name[te]=థునార్
Name[th]=Thunar
Name[tr]=Thunar
Name[ug]=سۇنار(Thunar)
Name[uk]=Файловий менеджер Thunar
Name[vi]=Thunar
Name[zh_CN]=Thunar 文件管理器
Name[zh_HK]=Thunar
Name[zh_TW]=Thunar
StartupNotify=true
X-XFCE-Binaries=Thunar;
X-XFCE-Category=FileManager
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
