[Desktop Entry]
Version=1.0
Icon=vimprobable2
Type=X-XFCE-Helper
Name=Vimprobable2
Name[ast]=Vimprobable2
Name[bg]=Vimprobable2
Name[cs]=Vimprobable2
Name[da]=Vimprobable2
Name[de]=Vimprobable2
Name[el]=Vimprobable2
Name[en_AU]=Vimprobable2
Name[es]=Vimprobable 2
Name[eu]=Vimprobable2
Name[fi]=Vimprobable2
Name[fr]=Vimprobable2
Name[hr]=Vimprobable2
Name[it]=Vimprobable2
Name[ja]=Vimprobable2
Name[kk]=Vimprobable2
Name[ko]=Vimprobable2
Name[lt]=Vimprobable2
Name[ms]=Vimprobable2
Name[nb]=Vimprobable2
Name[nl]=Vimprobable2
Name[nn]=Vimprobable2
Name[pl]=Vimprobable2
Name[pt]=Vimprobable2
Name[pt_BR]=Vimprobable2
Name[ro]=Vimprobable2
Name[ru]=Vimprobable2
Name[sk]=Vimprobable2
Name[sr]=Вимогући2
Name[sv]=Vimprobable2
Name[th]=Vimprobable2
Name[tr]=Vimprobable2
Name[uk]=Vimprobable2
Name[zh_CN]=Vimprobable2
StartupNotify=true
X-XFCE-Binaries=vimprobable2;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B "%s";
