[Desktop Entry]
Version=1.0
Icon=w3m
Type=X-XFCE-Helper
Name=W3M Text Browser
Name[ar]=W3M متصفح النصوص
Name[ast]=Restolador web en mou testu W3M
Name[be]=Тэкставы гартач W3M
Name[bg]=W3M текстов Интернет браузър
Name[bn]=W3M পাঠ্য ব্রাউজার
Name[ca]=Navegador web de text W3M
Name[cs]=Textový prohlížeč W3M
Name[da]=W3M Text Browser
Name[de]=W3M (textbasiert)
Name[el]=Περιηγητής διαδικτύου W3M
Name[en_AU]=W3M Text Browser
Name[en_GB]=W3M Text Browser
Name[es]=Navegador web en modo texto W3M
Name[et]=W3M tekstibrauser
Name[eu]=W3M testu nabigatzailea
Name[fi]=W3M -tekstiselain
Name[fr]=Navigateur Web en mode texte W3M
Name[gl]=Navegador en modo texto W3M
Name[he]=הדפדפן הטקסטואלי W2M
Name[hr]=W3M tekstualni preglednik
Name[hu]=W3M szöveges böngésző
Name[id]=Peramban Teks W3M
Name[is]=W3M textavafri
Name[it]=Browser testuale W3M
Name[ja]=W3M テキストブラウザー
Name[kk]=W3M мәтіндік браузері
Name[ko]=W3M 텍스트 브라우저
Name[lt]=W3M Text Browser
Name[lv]=W3M teksta pārlūks
Name[ms]=Pelayar Teks W3M
Name[nb]=W3M tekstnettleser
Name[nl]=W3M tekstbrowser
Name[nn]=W3M tekstnettlesar
Name[oc]=Navigador Web en mòde tèxte W3M
Name[pa]=W3M ਟੈਕਸਟ ਬਰਾਊਜ਼ਰ
Name[pl]=W3M Text Browser
Name[pt]=Navegador de texto W3M
Name[pt_BR]=Navegador de texto W3M
Name[ro]=Navigatorul text W3M
Name[ru]=Текстовый браузер W3M
Name[sk]=W3M Text Browser
Name[sl]=W3M besedilni brskalnik
Name[sq]=Shfletues Tekst W3M
Name[sr]=В3М прегледач текста
Name[sv]=Textwebbläsaren W3M
Name[te]=W3M పాఠ్య విహారకం
Name[th]=เบราว์เซอร์โหมดข้อความ W3M
Name[tr]=W3M Text Browser
Name[ug]=W3M  تېكىست كۆرگۈسى
Name[uk]=Переглядач W3M текстовий
Name[ur]=W3M متن براؤزر
Name[ur_PK]=W3M متن براؤزر
Name[vi]=Trình duyệt văn bản W3M
Name[zh_CN]=W3M 文本浏览器
Name[zh_HK]=W3M 文字瀏覽器
Name[zh_TW]=W3M 文字瀏覽器
StartupNotify=false
X-XFCE-Binaries=w3m;
X-XFCE-Category=WebBrowser
X-XFCE-Commands=exo-open --launch TerminalEmulator %B;
X-XFCE-CommandsWithParameter=exo-open --launch TerminalEmulator %B "%s";
