[Desktop Entry]
Version=1.0
Icon=utilities-terminal
Type=X-XFCE-Helper
Name=Xfce Terminal
Name[ar]=طرفية إكسفس
Name[ast]=Terminal de Xfce
Name[be]=Тэрмінал Xfce
Name[bg]=Xfce Терминал
Name[bn]=Xfce টার্মিনাল
Name[ca]=Terminal de Xfce
Name[cs]=Terminál Xfce
Name[da]=Xfce-terminal
Name[de]=Xfce-Terminal
Name[el]=Τερματικό Xfce
Name[en_AU]=Xfce Terminal
Name[en_GB]=Xfce Terminal
Name[es]=Terminal de Xfce
Name[et]=Xfce terminal
Name[eu]=Xfce Terminala
Name[fi]=Xfce pääte
Name[fr]=Terminal Xfce
Name[gl]=Terminal de Xfce
Name[he]=Xfce Terminal
Name[hr]=Xfce Terminal
Name[hu]=Xfce terminál
Name[id]=Terminal Xfce
Name[is]=Xfce skjáhermir
Name[it]=Terminale di Xfce
Name[ja]=Xfce Terminal
Name[kk]=Xfce Terminal
Name[ko]=Xfce 터미널
Name[lt]=Xfce Terminalas
Name[lv]=Xfce termināls
Name[ms]=Terminal Xfce
Name[nb]=Xfce Terminal
Name[nl]=Xfce Terminal
Name[nn]=Xfce-terminal
Name[oc]=Terminal Xfce
Name[pa]=Xfce ਟਰਮੀਨਲ
Name[pl]=Terminal Xfce
Name[pt]=Terminal do Xfce
Name[pt_BR]=Terminal do Xfce
Name[ro]=Terminal Xfce
Name[ru]=Терминал Xfce
Name[sk]=Terminál Xfce
Name[sl]=Xfce terminal
Name[sq]=Terminal Xfce
Name[sr]=Иксфце-ов терминал
Name[sv]=Xfce-terminalen
Name[te]=Xfce టెర్మినల్
Name[th]=เทอร์มินัลของ Xfce
Name[tr]=Xfce Uçbirim
Name[ug]=Xfce تېرمىنالى
Name[uk]=Термінал Xfce
Name[ur]=اکسفس ٹرمنل
Name[ur_PK]=اکسفس ٹرمنل
Name[vi]=Dòng lệnh của Xfce
Name[zh_CN]=Xfce 终端
Name[zh_HK]=Xfce 終端機
Name[zh_TW]=Xfce 終端機
StartupNotify=true
X-XFCE-Binaries=xfce4-terminal;Terminal;xterminal;
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=%B;
X-XFCE-CommandsWithParameter=%B -x %s;
