[Desktop Entry]
Name=driftnet
Encoding=UTF-8
Exec=sh -c "driftnet -h;${SHELL:-bash}"
Icon=kali-driftnet.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-sniffing-spoofing;
X-Kali-Package=driftnet
