[Desktop Entry]
Name=voiphopper
Encoding=UTF-8
Exec=sh -c "voiphopper;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=02-03-voip-tools;
X-Kali-Package=voiphopper
