[Desktop Entry]
Name=theharvester
Encoding=UTF-8
Exec=sh -c "theharvester;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-07-osint-analysis;
X-Kali-Package=theharvester
