[Desktop Entry]
Name=recoverjpeg
Encoding=UTF-8
Exec=sh -c "recoverjpeg -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-05-forensic-carving-tools;
X-Kali-Package=recoverjpeg
