[Desktop Entry]
Name=nbtscan
Encoding=UTF-8
Exec=sh -c "nbtscan -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-10-smb-analysis;
X-Kali-Package=nbtscan
