[Desktop Entry]
Name=fragroute
Encoding=UTF-8
Exec=sh -c "fragroute -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-03-ids-ips-identification;
X-Kali-Package=fragroute
