[Desktop Entry]
Name=ssdeep
Encoding=UTF-8
Exec=sh -c "ssdeep -h;${SHELL:-bash}"
Icon=kali-ssdeep.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
X-Kali-Package=ssdeep
