[Desktop Entry]
Name=ddrescue
Encoding=UTF-8
Exec=sh -c "dd_rescue -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-07-forensic-imaging-tools;
X-Kali-Package=ddrescue
