[Desktop Entry]
Name=padbuster
Encoding=UTF-8
Exec=sh -c "padbuster;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-05-web-vulnerability-scanners;
X-Kali-Package=padbuster
