[Desktop Entry]
Name=cmospwd
Encoding=UTF-8
Exec=sh -c "cmospwd;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;
X-Kali-Package=cmospwd
