[Desktop Entry]
Name=wifidns
Encoding=UTF-8
Exec=sh -c "wifidns -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-wireless-tools;
X-Kali-Package=wifitap
