[Desktop Entry]
Name=unicornscan
Encoding=UTF-8
Exec=sh -c "us -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-02-identify-live-hosts;01-04-network-scanners;
X-Kali-Package=unicornscan
