[Desktop Entry]
Name=tnscmd10g
Encoding=UTF-8
Exec=sh -c "tnscmd10g;${SHELL:-bash}"
Icon=kali-tnscmd10g.png
StartupNotify=false
Terminal=true
Type=Application
Categories=04-database-assessment;
X-Kali-Package=tnscmd10g
