[Desktop Entry]
Name=dnstracer
Encoding=UTF-8
Exec=sh -c "dnstracer;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-01-dns-analysis;
X-Kali-Package=dnstracer
