[Desktop Entry]
Name=cowpatty
Encoding=UTF-8
Exec=sh -c "cowpatty;${SHELL:-bash}"
Icon=kali-cowpatty.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-wireless-tools;06-wireless-attacks;
X-Kali-Package=cowpatty
