[Desktop Entry]
Name=keepnote
Encoding=UTF-8
Exec=sh -c "keepnote"
Icon=keepnote.png
StartupNotify=false
Terminal=false
Type=Application
Categories=12-reporting;
X-Kali-Package=keepnote
