[Desktop Entry]
Name=wordlists
Encoding=UTF-8
Exec=sh -c "cd /usr/share/wordlists && ls -l;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-05-profile;05-password-attacks;
X-Kali-Package=wordlists
