[Desktop Entry]
Name=sparta
Encoding=UTF-8
Exec=sh -c "sparta;${SHELL:-bash}"
Icon=kali-sparta.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-info-gathering;02-vulnerability-analysis;
X-Kali-Package=sparta
