[Desktop Entry]
Name=firewalk
Encoding=UTF-8
Exec=sh -c "firewalk;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-03-ids-ips-identification;01-02-identify-live-hosts;
X-Kali-Package=firewalk
