[Desktop Entry]
Name=samdump2
Encoding=UTF-8
Exec=sh -c "samdump2 -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;
X-Kali-Package=samdump2
