[Desktop Entry]
Name=btscanner
Encoding=UTF-8
Exec=sh -c "btscanner -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-02-bluetooth-tools;
X-Kali-Package=btscanner
