[Desktop Entry]
Name=ssldump
Encoding=UTF-8
Exec=sh -c "ssldump -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-13-ssl-analysis;
X-Kali-Package=ssldump
