[Desktop Entry]
Name=automater
Encoding=UTF-8
Exec=sh -c "automater -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-07-osint-analysis;
X-Kali-Package=automater
