[Desktop Entry]
Name=mysql stop
Encoding=UTF-8
Exec=sh -c "service mysql stop;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=14-03-mysqld;
X-Kali-Package=mysql-server
