[Desktop Entry]
Name=mactime-sleuthkit
Encoding=UTF-8
Exec=sh -c "mactime-sleuthkit;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-08-forensic-suites;
X-Kali-Package=sleuthkit
