[Desktop Entry]
Name=paros
Encoding=UTF-8
Exec=sh -c "paros"
Icon=kali-Paros.png
StartupNotify=false
Terminal=false
Type=Application
Categories=03-webapp-analysis;03-06-web-application-proxies;
X-Kali-Package=paros
