[Desktop Entry]
Name=twofi
Encoding=UTF-8
Exec=sh -c "twofi -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-07-osint-analysis;
X-Kali-Package=twofi
