[Desktop Entry]
Name=extundelete
Encoding=UTF-8
Exec=sh -c "extundelete --help;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-03-digital-forensics;
X-Kali-Package=extundelete
