[Desktop Entry]
Name=mysql restart
Encoding=UTF-8
Exec=sh -c "service mysql restart;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=14-03-mysqld;
X-Kali-Package=mysql-server
