[Desktop Entry]
Name=pdf-parser
Encoding=UTF-8
Exec=sh -c "pdf-parser -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-11-pdf-forensics-tools;
X-Kali-Package=pdf-parser
