[Desktop Entry]
Name=recstudio
Encoding=UTF-8
Exec=sh -c "recstudio"
Icon=kali-recstudio.png
StartupNotify=false
Terminal=false
Type=Application
Categories=07-reverseengineer;
X-Kali-Package=recstudio
