[Desktop Entry]
Name=mdk3
Encoding=UTF-8
Exec=sh -c "mdk3 --help;${SHELL:-bash}"
Icon=kali-mdk3.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-wireless-attacks;
X-Kali-Package=mdk3
