[Desktop Entry]
Name=braa
Encoding=UTF-8
Exec=sh -c "braa -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-12-snmp-analysis;
X-Kali-Package=braa
