[Desktop Entry]
Name=ewfacquire
Encoding=UTF-8
Exec=sh -c "ewfacquire -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-07-forensic-imaging-tools;
X-Kali-Package=ewf-tools
