[Desktop Entry]
Name=blindelephant
Encoding=UTF-8
Exec=sh -c "BlindElephant.py -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-01-cms-identification;
X-Kali-Package=blindelephant
