[Desktop Entry]
Name=oscanner
Encoding=UTF-8
Exec=sh -c "oscanner;${SHELL:-bash}"
Icon=kali-oscanner.png
StartupNotify=false
Terminal=true
Type=Application
Categories=04-database-assessment;
X-Kali-Package=oscanner
