[Desktop Entry]
Name=tlssled
Encoding=UTF-8
Exec=sh -c "tlssled;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-13-ssl-analysis;
X-Kali-Package=tlssled
