[Desktop Entry]
Name=wireshark
Encoding=UTF-8
Exec=sh -c "wireshark"
Icon=kali-wireshark.png
StartupNotify=false
Terminal=false
Type=Application
Categories=09-sniffing-spoofing;
X-Kali-Package=wireshark
