[Desktop Entry]
Name=dff gui
Encoding=UTF-8
Exec=sh -c "dff -g;${SHELL:-bash}"
Icon=kali-dff.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
X-Kali-Package=dff
