[Desktop Entry]
Name=u3-pwn
Encoding=UTF-8
Exec=sh -c "u3-pwn;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-01-os-backdoors;13-social-engineering-tools;
X-Kali-Package=u3-pwn
