[Desktop Entry]
Name=gqrx
Encoding=UTF-8
Exec=sh -c "gqrx"
Icon=kali-gqrx.png
StartupNotify=false
Terminal=false
Type=Application
Categories=06-05-radio-tools;06-wireless-attacks;
X-Kali-Package=gqrx
