[Desktop Entry]
Name=hackrf_info
Encoding=UTF-8
Exec=sh -c "hackrf_info -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-04-other-wireless;
X-Kali-Package=hackrf
