[Desktop Entry]
Name=eapmd5pass
Encoding=UTF-8
Exec=sh -c "eapmd5pass -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-wireless-tools;
X-Kali-Package=eapmd5pass
