[Desktop Entry]
Name=dictstat
Encoding=UTF-8
Exec=sh -c "dictstat -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-05-profile;
X-Kali-Package=pack
