[Desktop Entry]
Name=zbassocflood
Encoding=UTF-8
Exec=sh -c "zbassocflood -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-04-other-wireless;
X-Kali-Package=killerbee
