[Desktop Entry]
Name=evilgrade
Encoding=UTF-8
Exec=sh -c "evilgrade;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-02-network-spoofing;
X-Kali-Package=isr-evilgrade
