[Desktop Entry]
Name=hamster
Encoding=UTF-8
Exec=sh -c "hamster;${SHELL:-bash}"
Icon=kali-hamster.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-sniffing-spoofing;
X-Kali-Package=hamster-sidejack
