[Desktop Entry]
Name=pth-smbclient
Encoding=UTF-8
Exec=sh -c "pth-smbclient -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-04-pass-hash;
X-Kali-Package=passing-the-hash


