[Desktop Entry]
Name=dirb
Encoding=UTF-8
Exec=sh -c "dirb;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-04-web-crawlers;
X-Kali-Package=dirb
