[Desktop Entry]
Name=0trace
Encoding=UTF-8
Exec=sh -c "0trace.sh;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-08-route-analysis;
X-Kali-Package=0trace
