[Desktop Entry]
Name=apache-users
Encoding=UTF-8
Exec=sh -c "apache-users;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-04-web-crawlers;
X-Kali-Package=apache-users
