[Desktop Entry]
Name=darkstat
Encoding=UTF-8
Exec=sh -c "darkstat;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-01-network-sniffers;
X-Kali-Package=darkstat
