[Desktop Entry]
Name=fimap
Encoding=UTF-8
Exec=sh -c "fimap -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-05-web-vulnerability-scanners;
X-Kali-Package=fimap
