[Desktop Entry]
Name=cisco-torch
Encoding=UTF-8
Exec=sh -c "cisco-torch;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-cisco-attacks;02-01-cisco-tools;
X-Kali-Package=cisco-torch
