[Desktop Entry]
Name=dbd
Encoding=UTF-8
Exec=sh -c "dbd -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-02-tunneling;10-01-os-backdoors;
X-Kali-Package=dbd
