[Desktop Entry]
Name=msf payload creator
Encoding=UTF-8
Exec=sh -c "msfpc;${SHELL:-bash}"
Icon=kali-mpc.png
StartupNotify=false
Terminal=true
Type=Application
Categories=08-exploitation-tools;13-social-engineering-tools;
X-Kali-Package=msfpc
