[Desktop Entry]
Name=dradis
Encoding=UTF-8
Exec=sh -c "service dradis start; xdg-open https://127.0.0.1:3004"
Icon=kali-dradis.png
StartupNotify=false
Terminal=false
Type=Application
Categories=12-reporting;
X-Kali-Package=dradis
