[Desktop Entry]
Name=dnschef
Encoding=UTF-8
Exec=sh -c "dnschef -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-02-network-spoofing;09-01-network-sniffers;
X-Kali-Package=dnschef
