[Desktop Entry]
Name=ftest
Encoding=UTF-8
Exec=sh -c "ftest;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-03-ids-ips-identification;
X-Kali-Package=ftester
