[Desktop Entry]
Name=sslh
Encoding=UTF-8
Exec=sh -c "sslh -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-13-ssl-analysis;10-02-tunneling;
X-Kali-Package=sslh
