[Desktop Entry]
Name=ptunnel
Encoding=UTF-8
Exec=sh -c "ptunnel -h;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-02-tunneling;
X-Kali-Package=ptunnel
