[Desktop Entry]
Name=webscarab
Encoding=UTF-8
Exec=sh -c "webscarab"
Icon=kali-webscarab.png
StartupNotify=false
Terminal=false
Type=Application
Categories=03-webapp-analysis;
X-Kali-Package=webscarab
