[Desktop Entry]
Name=cisco-ocs
Encoding=UTF-8
Exec=sh -c "cisco-ocs;${SHELL:-bash}"
Icon=kali-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=02-01-cisco-tools;06-01-cisco-attacks;
X-Kali-Package=cisco-ocs
