
@define-color fg_active #1f1f1f;
@define-color fg_insensitive #BFBCB2;
@define-color fg_normal #1f1f1f;
@define-color fg_prelight #1f1f1f;
@define-color fg_selected #1f1f1f;

@define-color bg_active #E4E0D5;
@define-color bg_insensitive #E4E0D5;
@define-color bg_normal #eeeee6;
@define-color bg_prelight #ffdd76;
@define-color bg_selected #ffdd76;

@define-color base_active #fef4d6;
@define-color base_insensitive #fdfdfd;
@define-color base_normal #fdfdfd;
@define-color base_prelight #ffdd76;
@define-color base_selected #ffdd76;

@define-color text_active #1f1f1f;
@define-color text_insensitive #e9e9e9;
@define-color text_normal #1f1f1f;
@define-color text_prelight #1f1f1f;
@define-color text_selected #1f1f1f;

* {
    engine: xfce;

    -xfce-smooth-edge: true;
    -xfce-grip-style: disabled;

    -GtkButton-default-border        : 0;
    -GtkButton-default-outside-border: 0;
    -GtkWidget-focus-padding         : 0;
    -GtkCheckButton-indicator-size   : 15;
    -GtkMenuBar-shadow-type          : out;
    -GtkRange-slider-width           : 11;
    -GtkRange-stepper-size           : 13;
    -GtkRange-stepper-spacing        : 0;
    -GtkRange-trough-border          : 0;
    -GtkScrollbar-min-slider-length  : 20;
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-secondary-backward-stepper: true;
    -GtkStatusbar-shadow-type        : in;
    -GtkToolbar-shadow-type          : out;
    -GtkWidget-focus-line-pattern    : "\0";
    -GtkWidget-focus-line-width      : 1;
    -GtkWidget-interior-focus        : true;

    border-width: 1px 1px;

    color: @fg_normal;
    background-color: @bg_normal;
    border-color: darker(@bg_normal);
}

*:active {
    color: @fg_active;
    background-color: @bg_active;
    border-color: darker(@bg_active);
}

*:insensitive {
    color: @fg_insensitive;
    background-color: @bg_insensitive;
    border-color: darker(@bg_insensitive);
    text-shadow: 1px 1px white;
}

*:hover {
    color: @fg_prelight;
    background-color: @bg_prelight;
    border-color: darker(@bg_prelight);
}

*:selected {
    color: @fg_selected;
    background-color: @bg_selected;
    border-color: darker(@bg_selected);
}

.view, .entry {
    color: @text_normal;
    background-color: @base_normal;
    border-color: darker(@bg_normal);
}

.view:active, .entry:active {
    color: @text_active;
    background-color: @base_active;
    border-color: darker(@bg_normal);
}

.view:insensitive, .entry:insensitive {
    color: @text_insensitive;
    background-color: @base_insensitive;
    border-color: darker(@bg_normal);
}

.view:hover, .entry:hover {
    color: @text_prelight;
    background-color: @base_prelight;
    border-color: darker(@bg_normal);
}

.view:selected, .entry:selected {
    color: @text_selected;
    background-color: @base_selected;
    border-color: darker(@bg_normal);
}

.view row:nth-child(odd) {
    background-color: shade(@base_normal, 0.93);
}

.view row:nth-child(odd):active {
    background-color: shade(@base_active, 0.93);
}

.view row:nth-child(odd):insensitive {
    background-color: shade(@base_insensitive, 0.93);
}

.view row:nth-child(odd):hover {
    background-color: shade(@base_prelight, 0.93);
}

.view row:nth-child(odd):selected {
    background-color: shade(@base_selected, 0.93);
}

GtkCalendar {
    color: @text_normal;
}

.header {
    color: @fg_normal;
}

GtkCalendar:active {
    color: @text_active;
}

GtkCalendar:insensitive {
    color: @text_insensitive;
}

GtkCalendar:hover {
    color: @text_prelight;
}

GtkCalendar:selected {
    color: @text_selected;
}

.highlight {
    color: @text_active;
    background-color: @base_active;
}

GtkCalendar:inconsistent {
    color: mix(lighter(@bg_normal), darker(@bg_normal), 0.5);
}

GtkCalendar:selected {
    color: @text_active;
    background-color: @base_active;
}

.check {
    color: @text_normal;
    background-color: @base_normal;
    border-color: darker(@bg_normal);
}

.radio {
    color: @text_normal;
    background-color: @base_normal;
    border-color: darker(@bg_normal);

    -GtkCheckButton-indicator-size: 11;
}

.check:active, .radio:active {
    color: @text_normal;
    background-color: @base_normal;
    border-color: darker(@bg_normal);
}

.check:insensitive, .radio:insensitive {
    color: @text_insensitive;
    background-color: @base_insensitive;
    border-color: darker(@bg_insensitive);
}

.check:hover, .radio:hover {
    color: @text_prelight;
    background-color: @base_prelight;
    border-color: darker(@bg_prelight);
}

.check:selected, .radio:selected {
    color: @text_active;
    background-color: @base_active;
    border-color: darker(@bg_active);
}

.check:inconsistent, .radio:inconsistent {
    color: @fg_normal;
    background-color: @base_normal;
    border-color: darker(@bg_normal);
}

.check:insensitive:inconsistent, .radio:insensitive:inconsistent {
    color: @fg_insensitive;
    background-color: @base_insensitive;
    border-color: darker(@bg_insensitive);
}

.cell {
    color: @text_normal;
}

.cell:active {
    color: @text_active;
}

.cell:insensitive {
    color: @text_insensitive;
}

.cell:hover {
    color: @text_prelight;
}

.cell:selected {
    color: @text_selected;
}

.spinbutton.button {
    color: @fg_normal;
    background-color: @bg_normal;
}

.spinbutton.button:active {
    color: @fg_active;
    background-color: @bg_active;
}

.spinbutton.button:insensitive {
    color: @fg_insensitive;
    background-color: @bg_insensitive;
}

.spinbutton.button:hover {
    color: @fg_prelight;
    background-color: @bg_prelight;
}

.spinbutton.button:selected {
    color: @fg_selected;
    background-color: @bg_selected;
}

.progressbar {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@bg_prelight, 1.1)), to(shade(@bg_prelight, 0.9)));
    border-color: darker(@bg_prelight);

    border-width: 1px 1px;
}

.progressbar.vertical {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(@bg_prelight, 1.1)), to(shade(@bg_prelight, 0.9)));
    border-color: darker(@bg_prelight);

    border-width: 1px 1px;
}

.trough {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@bg_normal, 0.9)), to(shade(@bg_normal, 1.1)));
}

.trough.vertical {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(@bg_normal, 0.9)), to(shade(@bg_normal, 1.1)));
}

.scale.trough, .scrollbar.trough {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@bg_active, 0.9)), to(shade(@bg_active, 1.1)));
    border-color: darker(@bg_active);
}

.scale.vertical, .scrollbar.vertical {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(@bg_active, 0.9)), to(shade(@bg_active, 1.1)));
}

.notebook tab, .notebook tab * {
    color: @fg_active;
    background-color: @bg_active;
    border-color: darker(@bg_active);
}

.notebook tab:active, .notebook tab *:active {
    color: @fg_normal;
    background-color: @bg_normal;
    border-color: darker(@bg_normal);
}

.expander {
    color: @base_normal;
    border-color: @fg_normal;
}

.expander:active {
    color: @base_normal;
    border-color: @fg_normal;
}

.expander:insensitive {
    color: @base_insensitive;
    border-color: @fg_insensitive;
}

.expander:hover {
    color: @fg_prelight;
    border-color: @fg_prelight;
}

.expander:selected {
    color: @base_selected;
    border-color: @fg_selected;
}

GtkComboBox {
    padding: 0px;
}

GtkComboBox .button {
    padding: 1px;
}

.dock, .menubar, .toolbar {
    border-width: 1px 2px;
}

.button, .slider.horizontal {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@bg_normal, 1.1)), to(shade(@bg_normal, 0.9)));

    border-width: 1px 1px;
}

.button:active, .slider.horizontal:active {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@bg_active, 0.9)), to(shade(@bg_active, 1.1)));
}

.button:insensitive, .slider.horizontal:insensitive {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@bg_insensitive, 1.1)), to(shade(@bg_insensitive, 0.9)));
}

.button:hover, .slider.horizontal:hover {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@bg_prelight, 1.1)), to(shade(@bg_prelight, 0.9)));
}

.button:selected, .slider.horizontal:selected {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@bg_selected, 0.9)), to(shade(@bg_selected, 1.1)));
}

.button.vertical, .slider.vertical {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(@bg_normal, 1.1)), to(shade(@bg_normal, 0.9)));

    border-width: 1px 1px;
}

.button.vertical:active, .slider.vertical:active {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(@bg_active, 0.9)), to(shade(@bg_active, 1.1)));
}

.button.vertical:insensitive, .slider.vertical:insensitive {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(@bg_insensitive, 1.1)), to(shade(@bg_insensitive, 0.9)));
}

.button.vertical:hover, .slider.vertical:hover {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(@bg_prelight, 1.1)), to(shade(@bg_prelight, 0.9)));
}

.button.vertical:selected, .slider.vertical:selected {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(@bg_selected, 0.9)), to(shade(@bg_selected, 1.1)));
}

.menuitem {
    border-width: 0px 0px;
}

.menuitem:hover {
    border-style: none;
}
